@media (max-width: 1350px){
    .success-stories{
        .bxslider-stories{
            .text-success-slider{
                h3{
                    padding-top: 18px;
                }
                .debut-storie{
                    padding-bottom: 3rem;
                }
                .content-storie{
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .entreprise-responsable{
        br{
            display: block;
        }
    }
    #collapseTwo{
        .grow.pic{
            width: 211px;
            float: none;
            margin: auto;
            display: block;
        }
    }
    .content-respect{

        .img-entreprise-responsable{
            width: 25%;
        }
        .text{
            width: 75%;
        }
    }
    .espace-candidature{
        .intitule-poste{
            label{
                font-size: 19.75px !important;
            }
        }
        .info-poste{
            width: 47%;
        }
        .donnees-personnelles{
            width: 49%;
        }
    }
    .talents-trajectoires{
        .text-talents-trajectoires{
            width: 50%;
        }
        .img-poste{
            width: 42%;
        }
    }
    .conseil-rh{
        width: 100%;
    }
    .text-box-img{
        width: 617px !important;
        padding: 0 0 0 20px;
    }
    .nos-conseil-rh{
        .text{
            width: 74%;
        }
    }
    .details-box{
        width: 25%;
    }
    .box-fun{
        width: 90%;
        .list-events{
            width: 100%;
            li{
                width: 22%;
                margin: auto;
            }
            h5{
                font-size: 13px;
            }
        }
        .figure{
            width: 100% !important;
        }
        .panel-default > .panel-heading{
            h4{
                font-size: 20px;
            }
        }
        .list-events.videos{
            li{
                width: 255px;
            }
            .push-video{
                width: 248px;
            }
        }
    }
    br{
        display: none;
    }
    .bien-etre {
        .bien-etre-item {
            .text-bien-etre {
                padding-top: 11px;
                width: 85%;
                padding-right: 20px;
            }
            .img-bien-etre{
                float: none;
                margin: auto;
                display: block;
            }
        }
    }
    .success-stories {
        .content-stories {
            padding-top: 42px;
        }
    }
    .slide-pages .espace-membre a {
        font-size: 11px !important;
    }
    .wb-university {
        .text-wbu {
            width: 578px;
            padding-left: 29px;
            padding-top: 27px;
            p {
                font-size: 20px;
            }
        }
    }
    .formation-ludique {
        .top-formation-ludique {
            font-size: 24px;
            padding-bottom: 78px;
        }
        .text-formation-ludique{
            width: 50%;
        }
    }
    .etapes-formations {
        h4 {
            font-size: 23px !important;
        }
        .catalogue {
            p {
                font-size: 20px;
            }
        }
        .content-item-formation {
            &:before {
                margin-right: 12px;
            }
        }
        .items-formations {
            padding-left: 0;
            width: 55%;
        }
        .top-etape-formation {
            font-size: 24px;
        }
        .item-formation {
            h4 {
                &:before {
                    left: 38px;
                }
            }
        }
    }

}

@media (max-width: 1200px) and (min-width: 992px) {
    .box-metier{
        .bx-controls{
            .bx-next{
                right: -10px;
            }
            .bx-prev{
                left: -10px;
            }
        }
    }
    .bien-etre{
        .bien-etre-item{
            width: 445px;
        }
    }
    .avantages {
        .content-avantages-item {
            margin: auto;
            .text-avantages1 {
                width: 55%;
                padding-top: 0;
            }
            .text-avantages2 {
                padding: 0 11px 0 6px;
            }
        }
        .box-list{
            .content-avantages-item{
                width: 432px;
                .text-avantages2{
                    width: 100%;
                    padding-top: 12px;
                }
            }
        }
    }
    .footer-pages {
        .menu-items {
            span {
                font-size: 15.52px !important;
            }
        }
    }
    .espace-candidature {
        .info-poste {
            p {
                font-size: 22px;
            }
        }
        .donnees-personnelles {
            .radio-civilite {
                width: 86%;
                padding-left: 7px;
            }
        }
        .container-espace-candidature {
            input[type="radio"] + label {
                font-size: 17px;
            }
        }
    }
    .webhelp-maroc {
        .webhelp-ville {
            .owl-prev {
                left: -10px;
            }
            .owl-next {
                right: -16px;
            }
        }
    }
}
