@media (max-width: 767px) {
  .respect-item-content:nth-child(5) {
    .respect-item-hover{
      &:before{
        -ms-transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important;
      }
    }
  .content-hover{
    left: -25px;
    top: 145px;
  }
  }
  .respect-item-content:nth-child(2){
    .content-hover{
      left: -80px;
    }

  }
  .entreprise-responsable{
    .respect-content-bottom{
      .inner-hover{
        padding-top: 60px !important;
      }
    }
    .soucieux-partenaires-content{
      .content-hover {
        top: 147px;
        left: -9px;
      }
    }
    .respect-item-hover{
      &:before{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg) !important;
      }
    }
    .respect-items{
      max-width: 335px;
    }
    .soucieux-partenaires, .equite-meritocratie{
      position: relative;
      left: -49px;
      top: 113px;
      &:before{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    .respect-item.voix-compte{
      margin-left: 20px;
    }
    .respect-item.egalite-chance{
      margin-left: 20px;
    }
  }



  .entraide {
    .notrasso-top {
      .logo-notrasso {
        padding-bottom: 20px;
        width: 100%;
        img {
          display: block;
          margin: auto;
        }
      }
      .text-notrasso{
        width: 100%;
      }
    }
  }
  .grow.pic{
    margin: auto;
    display: block;
  }
  .box-metier{
    .pushs{
      width: 79%;
    }
  }
  .espace-candidature{
    .donnees-personnelles{
      .text-civilite{
        padding-top: 40px;
      }
    }
  }
  .talents-trajectoires{
    .img-poste{
      position: static;
    }
  }
  .box-fun{
    p{
      margin-bottom: 37px;
    }
  }
  .success-stories{
    #bx-pager{
      top: 108px;
      img{
        width: 50px;
        height: 50px;
      }
      a{
        width: 60px;
        &:before{
          width: 45px;
          height: 45px;
          top: 2px;
          left: 8px;
        }
        &:hover{
          img{
            width: 60px;
            height: 60px;


          }
        }
        &.active{
          img{
            width: 60px !important;
            height: 60px !important;
          }

        }
      }

    }
  }
  .nos-infographies-rh, .nos-conseil-rh{
      img{
        display: block;
        margin: auto;
      }

    .wrapper-box-gray{
      background: none;
    }
    .text-box-img{
      width: 100% !important;
      padding: 0 15px 0 20px;
    }
  }
    .espace-membre{
      width: 100%;
    }
  .avantages{
    .content-avantages-item{
      margin: 8px 0 9px 0;
      .img-avantages2{
        padding-left: 0;
      }
    }
  }
  .slide-pages{
    .titre{
      h1{
        font-size: 54px;
      }
    }
  }
  .bien-etre{
    .container-bien-etre{
      .text{
        padding: 0 0;
      }
    }
  }
  .bien-etre{
    .bien-etre-item{
      padding-left: 0;
      width: 100%;
    }
  }
  .entraide{
    .notrasso-top{
      .text-notrasso{
        p{
          font-size: 17px;
          padding-top: 0;
        }
      }
    }
    .notrasso-middle{
      padding-left: 0;
      .text-notrasso{
        width: 100%;
        padding-bottom: 20px;
      }

      .video{
        width: 73%;
        margin: auto;
        float: none;
      }
    }
    .derniere-action{
      a{
        margin-left: 0;
        font-size: 25px;
      }
    }
  }
  .nos-offres-actualites{
    .content-offres-actualites{
      .offres{
        .text-offres{
          padding: 6px 0 49px 32px;
          a{
            padding: 10.5px 30px;
          }
        }
      }
      .trouver-emploi{
        form{
          width: 100%;
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }
  .content-respect{
    .img-entreprise-responsable{
      width: 100%;
      img{
        display: block;
        margin: auto;
      }
    }
    .text{
      padding-left: 0;
      width: 100%;
      p{
        font-size: 18px !important;
      }
    }
  }
  .entreprise-responsable > p{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
  }
  .trouver-chemin{
    .img-forum{
      width: 100%;
      img{
        display: block;
        margin: auto;
      }
    }
    .forum-text{
      width: 100%;
      padding-left: 0;
      padding-top: 40px;
    }
  }
  .talents-trajectoires{
    .text-talents-trajectoires{
      width: 100%;
      padding-bottom: 35px;
    }
    .img-poste{
      width: 100%;
      img{
        margin: auto;
        display: block;
      }
    }
  }
  .bottom-forum{
    p{
      font-size: 17px;
    }
    .premier-text{
      padding: 0;
    }

  }
  .talent-manager-content{
    .top-talent-manager{
      padding-bottom: 35px;
      .img-talent-manager{
        padding-bottom: 25px;
        width: 100%;
        img{
          margin: auto;
        }
      }
      .text{
        width: 100%;
        padding-left: 0;
        font-size: 18px;
      }
      .text-manager{
        p{
          font-size: 24px;
        }
      }
    }
  }

  .slide-pages{
    .titre{
      position: relative;
      bottom: 25px;
    }
  }
  .espace-candidature{
    .donnees-personnelles{
      width: 100%;
      padding-left: 0;
    }
    .info-poste{
      width: 100%;
      padding-top: 45px;
    }
  }

  .webhelp-maroc{
    .villes-items{
      width: 100%;
    }
  }
  .details-offre{
    .top-details-offres{
      p{
        font-size: 18px;
      }
    }
    .text-mission{
      font-size: 19px;
    }
    .mission-offres{
      p{
        font-size: 18px;
      }
    }
  }
  .wb-university{
    .img-whu{
      width: 100%;
      img{
        display: block;
        margin: auto;
      }
    }
    .text-wbu{
      width: 100%;
      padding-left: 0;
      padding-right: 10px;
      p{
        width: 100%;
        font-size: 18px;
      }
    }
    .content-whu{
      padding-left: 0;
    }
    .wb-university-top{
      padding-top: 8px;
    }
  }
  .formation-ludique{
    .text-formation-ludique{
      width: 100%;
    }
    p{
      padding-right: 0;
    }
    .top-formation-ludique{
      font-size: 21px;
    }
    .video-formation-ludique{
      margin-top: 24px;
      width: 100% !important;
      img{
        float: none !important;
        margin: auto;
      }
    }
  }
  .etapes-formations{
    .top-etape-formation{
      font-size: 21px;
    }
    .items-formations{
      width: 80%;
      float: none;
      margin: auto;
    }
    .formation-continue{
      .content-item-formation{
        &:before{
          background: url(images/circle-formation.png) no-repeat;
          height: 102px;
        }
      }
    }
    .etape-formation-right{
      width: 100%;
    }
    .catalogue{
      float: none;
      margin: auto;
    }
    .nbre-heure-formation{
      margin-bottom: 45px;
    }
    .type-formation-continue{
      padding-top: 0;
      &:before{
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        position: static;
        display: block;
        margin: auto;
      }
    }
    .etape-formation-right{
      padding-top: 0;
  }
    .type-formation-continue{
      .type-formation-item{
        margin-bottom: 40px;
      }
    }
  }
  .type-formation-mobile{
    display: block;
  }
  .type-formation-desktop{
    display: none;
  }
  .entraide{
    .notrasso-middle{
      .wrapper-video{
        width: 100%;
      }
    }
  }
  .nos-offres-actualites{
    .top-bloc-newsletter{
      .content-newsletter{
        p{
          font-size: 22px;
        }
      }
    }
  }
  .nos-offres-actualites {
    .poste{
      width: 100% !important;
    }
    .text-box-gray{}
    .text-offres-actualites{
      padding-bottom: 32px !important;
    }
    .plus-details{
      float: none !important;
    }
    .content-offres-actualites {
      .ville-offre {
        width: 100% !important;
        min-height: 50px !important;
        line-height: 50px !important;

        p {
          padding-top: 8px;
          padding-bottom: 8px;
          margin: auto;
        }
      }
      .text-offres-actualites {
        width: 100% !important;
        margin-left: 0 !important;
        line-height: 0 !important;
        p{
          padding-bottom: 15px;
        }
      }

      .details-box {
        width: 100% !important;

      }
    }
    .actualites-text{
      width: 100% !important;
    }
  }
  .webhelp-maroc{
    .temoignage-maroc{
      .temoignage-item{
        position: static;
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 600px) {
  .webhelp-maroc{
    .webhelp-ville{
      .owl-prev{
        left: -14px;
      }
      .owl-next{
        right: -15px;
      }
      .ville-nom{
        p{
          font-size: 19px;
        }
      }
    }
  }
  .webhelp-maroc{
    .temoignage-maroc{
      .counter{
        font-size: 25px;
      }
      .plus{
        font-size: 25px;
      }
      .criteres-temoignage{
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 670px) {
  #carousel-stories{
    display: block !important;
    margin-top: 73px;
    .carousel-caption{
      bottom: 1px;
    }
  }
  .success-stories{
    #bx-pager{
      background: url(images/bg-tm-avantages.png) repeat-x;
      left: 0;
    }
  }
  .nos-infographies-rh, .nos-conseil-rh{
    .text{
      width: 100%;
    }
    .text-box-img{
      padding-bottom: 25px;
    }
    .details-box{
      padding-top: 15px;
      width: 100%;
    }
  }
  .success-stories{
    .content-stories{
      display: none;
    }
    .content-storie{
      font-size: 12px !important;
    }
    .name {
      font-size: 16px !important;
      padding-top: 13px;
    }
    h3{
      font-size: 24px;
    }
    .debut-storie{
      font-size: 12px;
      padding-bottom: 5px;
    }

  }

}
@media (max-width: 640px) {
  .wrapper{
    .logo-bottom {
      bottom: 10px;
      right: 10px;
      width: 80px;
    }
  }

  .logo-bottom > img {
    max-width: 100%;
  }
    .adresses-webhelp{
      .ville{
        min-height: auto !important;;
        i.close-ville{
          display: block !important;
        }
        h3{
          padding-bottom: 20px !important;
        }
      }
      .content-ville{
        padding: 35px 20px 0 20px !important;
      }
    }
  }

@media (max-width: 600px) {
  .form-wrapper{
    .info-poste {
      .select2-container{
        width: 100% !important;
      }
    }
    .naissance {
      .select2-container{
        width: 100% !important;
      }
    }
  }
  .box-metier{
    h2{
      font-size: 60px;
    }
    p{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .wrapper{
    .adresses-webhelp{
      .ville{
        width: 80%;
        left: 50px;
      }
    }
  }
  .nos-offres-actualites{
    .content-offres-actualites{
      .text-box-gray{
          padding: 0 12px 32px 17px !important;
      }
    }
  }
  .box-fun{
    .list-events{
      li{
        width: 80%;
        padding-bottom: 30px;
      }
    }
    p{
      + p {
        padding-left: 10px;
        padding-right: 10px;

      }
    }
    .wb-btn{
      font-size: 13px !important;
      padding: 0 8px;
    }
    .list-events.videos{
      padding-left: 0;
    }
    .panel-default > .panel-heading{
      &:before{
        left: 0;
      }
      h4{
        margin-left: 10px;
      }
    }
    .list-promos{
      padding-left: 0;
    }
  }
  .top-slide-candidature {
    .titre {
      h1 {
        font-size: 30px !important;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .avantages {
    .text {
      font-size: 20px;
    }
  }
  .slide-pages {
    .titre {
      h1 {
        font-size: 40px;
      }
    }
  }
  .bien-etre {
    .container-bien-etre {
      .text {
        font-size: 18px
      }
    }
  }
  .bien-etre {
    .way-of-working {
      p {
        font-size: 27px;
        span {
          font-size: 45px;
        }
      }
    }
  }
  .entraide {
    .notrasso-top {
      .logo-notrasso {
        padding-bottom: 20px;
      }
    }
    .text-notrasso {
      padding-left: 0 !important;
      width: 100% !important;
    }
    .derniere-action{
      a{
        font-size: 18px;
      }
    }
  }

  .espace-candidature {
    .buttons{
      .postuler-rappel{
        margin-left: 0;
      }
    }
    .naissance {
      .select2.select2-container{
        width: 33.33% !important;
      }
    }
    .radio-civilite{
      width: 87% !important;
      label{
        padding-right: 20px !important;
      }
    }
    .contenu-form{
      width: 100%;
    }
    .info-poste{
      .select2.select2-container{
        width: 100% !important;
      }
    }

    .donnees-personnelles {
      p {
        font-size: 20px;
      }
      input {
        width: 100%;
      }
    }
    .naissance {
      .input-group {
        width: 100% !important;
      }
    }
    .info-poste {
      select {
        width: 100%;
      }
      p {
        font-size: 20px;
      }
    }
    .cv {
      .fileinput-button {
        width: 100% !important;
      }
    }
    .source-webhelp p {
      font-size: 20px;
    }

  }
  .avantages-webhelp {
    .avantages-tabs {
      width: 100%;
    }
  }
  .webhelp-maroc {
    .webhelp-ville {
      .owl-buttons{
        display: none;
      }
    }
  }
  .webhelp-maroc{
    .temoignage-maroc{
      .temoignage-item{
        width: 100%;
      }
    }
    .webhelp-maroc-content
    {
      h1{
        font-size: 40px;
      }
    }
  }
  .webhelp-maroc{
    .webhelp-ville{
      .ville-nom{
        p{
          font-size: 12px;
        }
      }
    }
  }
  .details-offre{
    .content-details-offres{
      padding-left: 25px;
      padding-right: 25px;
    }
    h2{
      font-size: 30px;
      line-height: 40px;
    }
    .top-details-offres{
      padding-bottom: 60px;
      .link-postuler{
        float: none;
        bottom: 0;
        top: 23px;
      }
    }
  }
  .etapes-formations{
    .items-formations{
      width: 100%;
    }
    .content-item-formation{
      width: 69%;
    }

  }
  .wb-university{
    .wb-university-top{
      padding-bottom: 45px;
    }
  }
  .nos-offres-actualites{

    .top-bloc-newsletter{
      .content-newsletter{
        p{
          padding: 0px 10px 33px 10px;
        }
      }
    }

  }
}

@media (max-width: 520px) {
  .entreprise-responsable{
    .respect-items{
      max-width: 286px;
    }
  }
  .respect-item-content:nth-child(1){
    .content-hover{
      left: -13px;
      top: 11px;
    }
  }
  .respect-item-content:nth-child(2){
    .content-hover{
      left: -13px;
      top: 11px;
    }
  }
  .respect-item-content:nth-child(3){
    .content-hover{
      left: -12px;
      top: 11px;
    }
    .inner-text{
      left: 3px;
      width: 215px;
    }
  }
  .respect-item-content:nth-child(4){
    .content-hover{
      left: 33px;
      top: 161px;
    }
  }
  .respect-item-content:nth-child(5){
    .content-hover{
      left: 36px;
      top: 161px;
    }
    .inner-text{
      left: 3px;
      width: 187px;
    }
    .inner-hover{
      padding-top: 38px !important;
    }
  }
  .entreprise-responsable{
    .respect-item-hover{
      h6{
        font-size: 16px;
      }
      .inner-text{
        p{
          font-size: 13px;
        }
      }
      &:before{
        background: url(images/hover-respect-mobile.png) no-repeat;
      }
      .content-hover{
        left: 0;
       }
    }
    .inner-hover{
      padding-top: 30px !important;
    }
  }
  .respect-item-hover{
    width: 290px !important;
  }
}

@media (max-width: 480px) {
  .espace-candidature{
    .buttons{
      .postuler-rappel{
        top: -161px;

      }
    }
  }
  .box-metier{
    .bx-controls{
      display: none;
    }
    .pushs{
      width: 100%;
      .push{
        width: 80%;
      }
    }
  }
  .avantages-webhelp{
    .navigation-tabs{
      a{
        height: 76px;
        width: 76px;
      }
      ul{
        display: block;
        width: 225px;
        margin: auto;
      }
    }
    img{
      margin: 3px auto 0 auto !important;
    }
  }
  .panel-default > .panel-heading{
    h4{
      font-size: 18px;
    }
  }
  .avantages{
    .content-avantages-item{
      .text-avantages{
        h4{
          font-size: 20px;
        }
      }

    }
  }
  .bien-etre{
    .bien-etre-item{
      .img-bien-etre{
        padding-left: 0;
        img{
          display: block;
          margin: auto;
        }
      }
      .text-bien-etre{
        width: 100%;
        padding-right: 15px;
      }
      h4{
        font-size: 20px;
      }
    }
  }
  .entraide{
    .notrasso-middle{
      .video{
        width: 100%;
        padding-left: 0;
        iframe{
          width: 100%;
        }
      }
    }
    .derniere-action{
      a{
        &:after{
          content: none;
        }
      }
    }
  }
  .nos-offres-actualites{
    .form-wrapper{
      .select2-container{
        margin-left: 0;
      }
    }
    .content-offres-actualites{
      .offres{
        .text-offres{
          padding: 6px 0 32px 32px;
        }
        .details-poste{
          width: 100%;
          a{
            float: none;
            display: table;
            margin: auto;
          }
        }
      }

    }
  }
  .bottom-forum{
    .owl-buttons{
      display: none;
    }
  }
  .success-stories{
    .content-storie{
      font-size: 10px !important;
      line-height: 11px;
    }
    .name {
      font-size: 10px !important;
    }
    .debut-storie {
      font-size: 11px !important;
      padding-bottom: 1rem;
    }
    h3 {
      font-size: 15px !important;
      padding-top: 3px !important;
    }
    .carousel-control{
      width: 8%;
    }
    #bx-pager{
      a{
        height: 51px;
      }
    }
    .carousel-caption{
      left: 6%;
      right: 6%;
      bottom: -16px !important;
    }
  }
  .webhelp-maroc{
    .webhelp-ville {
      .ville-nom{
        position: static;
        width: 100%;
        p{
          font-size: 20px;
        }
      }
    }
  }
  .details-offre{
    .mission-offres{
      h5{
        font-size: 19px;
      }
      p{
        font-size: 16px;
      }
    }
    h2{
      font-size: 27px;
      line-height: 36px;
    }
  }
  .box-fun{
    .push-video{
      width: 90% !important;
    }
  }
  .buttons{
    .postuler-rappel{
      margin-top: 20px;
    }
  }

}


@media (max-width: 400px) {
  .bien-etre{
    .bien-etre-item{
      .grow.pic{
        width: 211px !important;
      }
    }
  }
  .avantages{
    #collapseOne .grow.pic{
      width: 100% !important;
      img{
        height: auto !important;
      }
    }
  }
  .wrapper{
    .adresses-webhelp{
      .ville{
        width: 92%;
        left: 13px;
      }
    }
  }
  .espace-candidature {
    input[type="radio"] + label{
      width: 100%;
    }
    .naissance {
      .select2.select2-container {
        width: 100% !important;
      }
    }
  }
  .nos-offres-actualites{
    .content-offres-actualites{
      .trouver-emploi{
        .input-group{
          width: 100%;
        }
        form{
          .form-control{
            width: 100%;
          }
        }
        .input-group-btn{
          display: table;
          width: 100%;
        }
        button{
          width: 100%;
        }
        .select2-container{
          width: 100% !important;
          margin-left: 0 !important;
        }
      }
    }

  }
  .entreprise-responsable{
    .respect-items{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .webhelp-maroc{
    .temoignage-pourcentage{
      .progress-value{
        font-size: 20px;
      }
      .content-progress{
        width: 260px;
        .badge{
          left: 2px;
        }
      }
    }
  }
  .etapes-formations{

    .content-item-formation{
      padding-bottom: 50px;
      &:before{
        content: none;
      }
    }
    .formation-continue{
      .content-item-formation{
        &:before{
          content: none;
        }
      }
    }
    .inside{
      margin-top:0 !important;
      text-align: center;
    }
    .items-formations{
      padding-top: 73px;
      h4{
        &:before{
          position: static;
          margin: auto;
        }
      }
    }
    .etape-number{
      float: none;
      margin: auto;
      margin-bottom: 16px;
    }
    .content-item-formation{
      width: 100%;
    }
    .etape-number{
      width: 100%;
    }
    .catalogue{
      width: 100%;
    }
    .nbre-heure-formation{
      width: 100%;
    }
    .type-formation-continue{
      .type-formation-item{
        width: 100%;
      }
    }
  }
  .box-fun{
    .wb-btn{
      height: 57px;
      line-height: 21px;
      padding: 8px 8px;
    }
  }

}
@media (max-width: 350px) {
  .webhelp-maroc{
    .webhelp-maroc-carousel{
      .bx-controls{
        display: none;
      }
    }
  }
  .forum-carousel{
    .bx-controls{
      display: none;
    }
  }
}

