@media (max-width: 992px) {
  .avantages{
      #collapseOne{
          .grow.pic{
              width: 346px;
              float: none;
              margin: auto;
              display: block;
          }
      }
  }

    .box-metier{
        .pushs{
            width: 90%;
            margin: auto;
        }
        .bx-controls{
            .bx-next{
                right: 12px;
            }
            .bx-prev{
                left: 15px;
            }
        }
    }
    .nos-offres-actualites{
        .content-offres-actualites{
            .offres-actualites{
                .offre-actualites-item{
                    width: 100%;
                }
                .text-offres-actualites{
                    width: 80%;
                }
            }
        }
        .type-actualite{
            width: 20% !important;
        }
    }
    .webhelp-maroc{
        .webhelp-maroc-carousel{
            .bx-controls{
                .bx-next{
                    right: -35px;
                }
                .bx-prev{
                    left: -35px;
                }
            }
        }
    }
    .espace-candidature{
        padding-top: 55px;
        .contenu-form{
            float: none;
            width: 492px;
            margin: auto;

        }
        .donnees-personnelles{
            width: 100%;
        }
        .info-poste{
            width: 100%;
            padding-top: 40px;
        }
        .entretien-video{
            clear: both;
        }
        .buttons{
            float: left;
            width: 100%;
            padding-top: 40px;
        }
    }
    .text-box-img{
        padding: 0 0 0 10px;
    }
    .nos-conseil-rh{
        .top-bloc-newsletter{
            width: 100%;
        }
    }
    .box-fun{
        .list-events{
            li{
                width: 40%;
            }
            img{
                margin: auto;
            }
        }
    }
    .avantages {
        .container-avantages{
            padding-left: 0;
        }
        .avantages-items{
            margin-left: 0;
        }
        .content-avantages-item {
            margin: 0;
            padding: 21px;
            height: auto;
            overflow: hidden;
            width: 100%;


            .text-avantages {
                width: 100%;
                padding-right: 20px;
                padding-left: 20px;
            }
            .text-avantages2 {
                padding: 20px 20px 28px 20px;
            } 
        }
        .text {
            padding: 0 10px;
            width: 100% !important;
        }
        
        .box-list {
            .content-avantages-item{
                float: none;
                overflow: hidden;
                width: 100%;

                &:nth-child(2n){
                    margin-left: 0;
                }

                .img-avantages2{
                    margin-bottom: 20px;
                }
            }
        }
        .panel-default > .panel-heading{
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .entraide{
        .notrasso-top{
            .text-notrasso{
                width: 86%;
            }
            .logo-notrasso{
                width: 14%;
            }
        }
        .notrasso-middle{
            .text-notrasso{
                padding-top: 20px;
            }
        }
    }
    .footer-pages {
        .suivez-nous {
            .content-suivez-nous {
                bottom: 9px;
            }
        }
    }
    .slide-pages {
        .titre {
            h1 {
                font-size: 60px;
            }
        }
    }
    .nos-offres {
        .content-nos-offres {
            .offres {
                .poste {
                    width: 63%;
                }
                .details-poste {
                    width: 36%;
                }
            }
        }
    }
    .avantages-webhelp {
        .avantage-part1 {
            width: 100%;
            img {
                display: block;
                margin: auto;
                padding-left: 0;
            }
        }
        .avantages-part2 {
            width: 100%;
            padding-left: 0;
        }
        .avantages-tabs {
            width: 60%;
            margin: auto;
        }
    }
    .talent-manager-content {
        .top-talent-manager {
            .text {
                padding-top: 0;
            }
        }
    }
    .bottom-forum {
        .owl-prev {
            position: relative;
            left: -40px;
            top: 0px;
        }
    }
    .bottom-forum {
        .owl-next {
            position: relative;
            top: -2px;
            right: -42px;
        }
    }
    .webhelp-maroc {
        .webhelp-maroc-content {
            h1 {
                font-size: 60px;
            }
        }
    }
    .details-offre {
        h2 {
            font-size: 38px;
            width: 100%;
            line-height: 57px;
        }
    }
    .wb-university {
        .wb-university-top {
            padding-left: 20px;
        }
    }
    .formation-ludique {
        .video-formation-ludique{
            width: 50%;
            img{
                left: 0;
            }
        }
    }
    .formation-ludique {
        .text-formation-ludique {
            padding-left: 10px;
            width: 50%;
        }
        .video-formation-ludique {
            img {
                bottom: 0;
            }
        }
        .top-formation-ludique {
            padding-bottom: 40px;
        }
    }
    .etapes-formations {
        h4 {
            font-size: 18px !important;
        }
        p {
            padding-right: 0;
            font-size: 14px;
        }
        .item-formation {
            h4 {
                &:before {
                    top: 13px;
                }
            }
        }
        .etape-number {
            font-size: 15px;
            width: 88px;
            line-height: 26px;
        }
        .catalogue {
            float: right;
            width: 85%;
            padding-top: 45px;
            padding-bottom: 45px;
            p {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;
            }
        }
        .etape-formation-right {
            padding-top: 76px;
        }
        .nbre-heure-formation {
            p {
                font-size: 18px;
            }
        }
        .type-formation-continue {
            padding-top: 104px;
            .type-formation-item {
                p {
                    padding-right: 0;
                }
            }
            &:before {
                background: url(images/bar-type-formation-resp.png) no-repeat;
                left: -53px;
            }
        }
    }
    .success-stories {
        .bxslider-stories {
            .text-success-slider {
                h3 {
                    font-size: 34px;
                }
                .name {
                    font-size: 22px;
                }
                .content-storie {
                    font-size: 19px;
                    line-height: 26px;
                }
            }
        }
        #bx-pager{
            top: 68px;
        }
    }
}

@media (max-width: 992px) and (min-width: 767px){
    .talent-manager-content{
        .top-talent-manager{
            .text{
                width: 460px;
                padding-left: 33px;
            }
        }
    }
    .talents-trajectoires{
        .text-talents-trajectoires{
            width: 46%;
        }
        .img-poste{
            width: 43%;
        }
    }
    .trouver-chemin{
        .img-forum{
            width: 27%;
        }
        .forum-text{
            width: 73%;
            padding-left: 15px;
        }
    }
    .text-box-img{
        width: 50% !important;
    }
    .nos-conseil-rh{
        .text{
            width: 71%;
        }
    }
    .details-box {
        width: 20%;
    }
    .nos-offres-actualites {
        .content-offres-actualites {
            .offres-actualites {
                .text-offres-actualites{
                    .poste{
                        width: 65%;
                    }
                    .details-box{
                        width: 31%;
                    }
                }
            }
        }
    }
    .bien-etre {
        .bien-etre-item {
            width: 333px;
            .img-bien-etre {
                padding-left: 0;
                img {
                    display: block;
                    margin: auto;
                }
            }
            .text-bien-etre {
                padding-right: 17px;
                width: 100%;
            }
        }
    }
    .content-respect {
        .top-respect {
            .text {
                p {
                    font-size: 18px;
                }
            }
        }
    }
    .entreprise-responsable {
        .soucieux-partenaires {
            &:before {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .equite-meritocratie {
            left: 23.6%;
        }
        .respect-items {
            max-width: 609px;
        }
    }
    .espace-candidature {

        .donnees-personnelles {
            #jour {
                padding-left: 16px;
            }
            #mois {
                padding-left: 17px;
            }
            #annee {
                padding-left: 17px;
            }
            .radio-civilite {
                width: 79%;
                padding-left: 10px;
                label {
                    padding-right: 19px;
                }
            }
        }
    }
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 18px !important;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 18px !important;
    }
    :-ms-input-placeholder {
        /* IE 10+ */
        font-size: 18px !important;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        font-size: 18px !important;
    }
    .webhelp-maroc {
        .webhelp-ville {
            .owl-prev {
                left: 15px;
            }
            .owl-next {
                right: 15px;
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 650px) {
    .respect-item-content:nth-child(1){
        .content-hover{
            left: -80px;
        }
    }
    .respect-item-content:nth-child(2) {
        .content-hover{
            left: -112px;
        }

    }
    .respect-item-content:nth-child(3){
        .content-hover{
            left: -80px !important;
        }
    }
    .respect-item-content:nth-child(4){
        .respect-item-hover{
            &:before{
                -ms-transform: rotate(0deg) !important;
                -webkit-transform: rotate(0deg) !important;
                transform: rotate(0deg) !important;
            }
        }
        .content-hover{
            top: 153px;
        }
    }
    .respect-item-content:nth-child(5) .content-hover {
        left: -127px;
    }
        .entreprise-responsable {
        .respect-items{
            .respect-item-content{
                width: 241px;
            }
        }
        .respect-item.voix-compte{
            margin-left: 55px;
        }
        .respect-item.egalite-chance{
            margin-left: 26px;
        }
        .soucieux-partenaires {
            left: -22%;
            top: 112px;
            &:before {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .equite-meritocratie {
            left: 18%;
        }
        .respect-items {
            max-width: 645px;
        }
    }
}
@media (max-width: 830px){
    .bottom-forum{
        .forum-carousel{
            .bx-controls{
                .bx-next{
                    right: -35px;
                }
                .bx-prev{
                    left: -35px;
                }
            }
        }
    }
}
@media (max-width: 777px){
    .webhelp-maroc{
        .webhelp-maroc-carousel{
            .bx-controls{
                .bx-next{
                    right: -45px;
                }
                .bx-prev{
                    left: -45px;
                }
            }
        }
    }

}

