.form-wrapper{
	.wrapper-select{
		display: inline-block;
		vertical-align: middle;
		height: 70px;
		width: 49%;

		+ .wrapper-select{
			margin-left: -4px;
		}
	}

	.select2{
		&.select2-container{
			display: inline-block;
			vertical-align: middle;
			height: 70px;
			width: 49%;
			~ .select2-container{
				margin-left: -4px;
			}
		}
	}
}