.top-slide a{
    font-size: 13.87px !important;
}
.top-slide-modele {
    background: url(images/bg-candidature.png) no-repeat;
    box-shadow:inset 0px 61px 144px 85px rgba(0,0,0,.5);
    -webkit-box-shadow:inset 0px 61px 144px 85px rgba(0,0,0,.5);
    -moz-box-shadow:inset 0px 61px 144px 85px rgba(0,0,0,.5);
}
.content-page{
    float: left;
    width: 100%;
}
.top-page-content{
    padding-top: 79px;
    max-width: 986px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}
.top-page-content  .text-content-top{
    color: #454545;
    text-align: center;
    font-size: 20px;
    float: left;
    line-height: 24px;
    width: 100%;
    padding-left: 67px;
    padding-bottom: 128px;

}