

p.text-center.nbre-hr.nbhr span{
	font-size: 12px;
	display: block;
	color: black;
	margin-top: 23px;
	font-weight: 500
}

p.text-center.nbre-hr.nbhr {
display: inline-block;
color: #ff6319;
    font-weight: 600;
    font-size: 34px;
}
.etapes-formations .nbre-heure-formation p:first-child{
       margin-bottom: 16px
}

.bottom-nav .form-item,
.trouver-emploi .form-item{
	width: 80%;
}

.bien-etre-portugal .way-of-working p:first-child{
	font-size: 44px !important;
	padding-bottom: 10px;
	font-style: italic;
}
.bien-etre .way-of-working p:nth-child(2){
        font-size: 18px!important;
    font-weight: 400!important;
    font-style: normal!important;
    color: #242424!important;
}
.bien-etre-portugal .bien-etre-pr-box h3{
	color: black;
}



.content-storie br{
	display: none;
}

.box-fun p{
	margin-bottom: 0;
}

.box-fun p + p {
    margin-bottom: 16px;


}

.field.field-name-body.field-type-text-with-summary.field-label-hidden{
  margin-top: -118px;
}



