@charset "UTF-8";

/*Fonts*/

@font-face {
    font-family: 'open_sansregular';
    src: url("fonts/opensans-regular-webfont.eot");
    src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url("fonts/opensans-light-webfont.eot");
    src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.ttf") format("truetype"), url("fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url("fonts/opensans-semibold-webfont.eot");
    src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-semibold-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriad-reg';
    src: url("fonts/MYRIADPRO-REGULAR.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url("fonts/opensans-bold-webfont.eot");
    src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff2") format("woff2"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.ttf") format("truetype"), url("fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*end fonts*/


/*Colors*/


/*end colors*/


/*General Css*/
#wrapper{
    width: 1736px;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: visible
}

@media(max-width: 2152px) {
    html {
        font-size: .875vw;
    }
}

body.ie select {
    background-image: none;
}

ul {
    list-style: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}


/*End General Css*/


/*icons*/

.icon {
    width: 50px;
    height: 50px;
    float: right;
}

.icon-play {
    background: url(images/play.png) no-repeat center;
}

.icon-search {
    background: url(images/search-icon.png) no-repeat center;
}

.icon-member {
    background: url(images/icon-member.png) no-repeat center;
}

.icon-viadeo {
    background: url(images/viadeo.png) no-repeat center;
    height: 24px;
    width: 23px;
    float: left;
}

.icon-viadeo:hover {
    background: url(images/viadeo-hover.png) no-repeat center;
}

.map-marker {
    background: url(images/map-marker.png) no-repeat center;
    display: block;
    width: 32px;
    height: 46px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


/************************************************************Slider***********************************************************/

.slider-home {
    position: relative;
    float: left;
    width: 100%;
    z-index: 1050;
}

.slider-home .owl-controls {
    margin-top: 0;
    position: absolute;
    right: 298px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper-select {
    position: relative;
    display: block;
    z-index: 0
}

.wrapper-select:select {
    z-index: 1;
}

.wrapper-select:before {
    display: block;
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    height: 1em;
    width: 1em;
    margin: 2px;
    z-index: 5;
}

.slider-home .owl-theme .owl-dots .owl-page.active span {
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px;
    background: #fff;
    opacity: 1;
    margin-bottom: 20px;
}

.slider-home .owl-theme .owl-dots .owl-dot {
    display: block;
}

.slider-home .carousel-caption {
    top: 279px !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 0
}

.top-slide {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999999;
}

.slider-home h2 {
    color: #fff;
    font-size: 101.87px;
    font-family: "open_sanssemibold";
    padding-bottom: 7px;
    text-transform: capitalize;
}

.slider-home h2 ,
.slider-home p {
    text-shadow: none;
}

.slider-home p {
    color: #fff;
    font-family: "open_sanslight";
    font-size: 47.54px;
}

.content-top-slide {
    padding: 28px 20px 8rem 20px;
    width: 100%;
    max-width: 1340px;
    margin: auto;
}
.top-slide.fixed{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: 0;
    left: 0;
}
.fixed .content-top-slide {
    padding: 8px 20px 0;
}

.slider-home .form-wrapper{
    width: auto !important;
}

.slider-home .form-wrapper .input-group{
    margin: auto;
    min-width: 615px;
}

.slider-home .form-wrapper .input-group-btn{
    display: inline-block;
    margin-left: -4px;
    width: auto;
}

.logo-top {
    float: left;
    overflow: visible;
    position: relative;
}

.logo-top .fond-logo {
    position: absolute;
    overflow: visible;
    top: -30px;
    left: -193px;
}

.logo-top .logo {
    position: relative;
    z-index: 99999;
}

nav {
    padding-top: 41px;
    float: right;
    width: 79%;
}

nav .main-menu a {
    font-family: "open_sansregular";
    font-size: 13.87px;
    color: #fff;
}

nav .main-menu {
    margin-top: -13px;
}

nav .nav > li > a:hover,
nav .nav > li > a:active,
nav .nav > li > a:focus {
    background: transparent;
    color: #c7c7c7;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.slider-home .my-group .form-control {
    width: 50%;
}

.slider-home form {
    width: 54.1%;
    margin: 0 auto 165px;
    /* position: absolute;
    bottom: 20%;
    left: 0;
    right: 0; */
}

.slider-home form select {
    padding-left: 28px;
    border-radius: 0;
    height: 70px;
    border: 0;
    box-shadow: none;
    font-size: 29.81px;
    font-family: "open_sanslight";
    background: url("images/icon-select.png") #fff no-repeat 94% 53%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -khtml-appearance: none;
}

.slider-home form select::-ms-expand {
    display: none;
}

.slider-home button {
    height: 47px;
    border: 0;
    border-radius: 0;
    background: #ff6319;
    /*  padding: 0 48px; */
    width: 82px;
    text-align: center;
}

.slider-home button:hover {
    background: #e05310;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.slider-home button:focus {
    background: #e05310;
}

.slider-home button i {
    color: #fff;
    font-size: 30px;
    float: none;
    display: block;
    margin: auto;
    text-align: center;
    width: 27px;
    height: 27px;
}

.slider-home .carousel-indicators {
    position: absolute;
    right: 65px;
    top: 34%;
    width: 50px;
}

.slider-home .owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background: rgba(255,255,255,0.38);
    opacity: .5;
    display: block;
    float: right;
}

.slider-home .owl-theme .owl-controls .owl-page + .owl-page span {
    margin-top: 20px;
}

.slider-home .owl-theme .owl-controls .owl-page.active span {
    background: rgba(255,255,255,1);
}
.owl-theme .owl-controls .owl-page{ display: block;  }

.slider-home .bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 17px;
    z-index: 999999
}

.slider-home .bottom-nav ul {
    display: table;
    margin: auto;

    position: relative;
    /*  top: 91px; */
}

.slider-home .bottom-nav ul li {
    /*float: left;*/
    color: #fff;
    font-family: "open_sanslight";
    font-size: 15.38px;
}

.slider-home .bottom-nav ul li a {
    color: #fff;
    font-family: "open_sanslight";
    font-size: 15.38px;
}


/*.slider-home .owl-wrapper-outer {
    padding-top: 8rem; }*/

.espace-membre{
    float: right;
    margin: -12px 139px 0 0;
}

.espace-membre a {
    color: #fff;
    background: #ff6319;
    font-size: 13.87px;
    font-family: "open_sansregular";
    padding: 13px 9px 0 5px !important; 
}

.espace-membre a:hover {
    color: #fff !important;
    background: #e05310 !important;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.espace-membre span {
    float: left;
    position: relative;
    bottom: 16px;
    right: 9px;
}

.responsive-main-menu {
    display: none;
}


/************************************************************Bienvenu***********************************************************/

.bienvenu {
    background: url(images/bg-bienvenu.png);
    background-size: cover;
    float: left;
    width: 100%;
    padding: 42px 0;
}

.bienvenu .bienvenu-text p {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 19px;
    color: #fff;
    font-family: "open_sanslight";
    line-height: 24px;
}

.bienvenu .bienvenu-text p:before {
    content: ' ';
    display: block;
    background: url("images/blockquote.png") no-repeat;
    width: 47px;
    height: 34px;
    margin: 0 auto 12px auto;
}


/************************************************************l'Actu job***********************************************************/

.actu-job {
    position: relative;
    float: left;
    width: 100%;
}

.actu-job .top-actu-job {
    background: url(images/bg-offres.png) repeat-x;
    background-size: cover;
    padding-top: 47px;
    padding-bottom: 39px;
}

.actu-job h2 {
    font-family: "open_sansregular";
    font-size: 40px;
    color: #191919;
    padding-left: 54px;
    letter-spacing: .5px;
}

.actu-job h2 a {
    font-family: "open_sanslight";
    font-size: 10.3px;
    background: #ff6319;
    padding: 6px 10px;
    border-radius: 4px;
    color: #fff;
    position: relative;
    bottom: 8px;
    right: 2px;
}

.actu-job .webhelp-offres {
    padding-top: 41px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.actu-job .webhelp-offres .offre {
    font-family: "open_sansregular";
    font-size: 18.11px;
    color: #262626;
    line-height: 19px;

    max-width: 180px;
    display: block;
    margin: auto;
}
.actu-job .webhelp-offres .offre + br{ display: none;  }

.actu-job .webhelp-offres .ville-job {
    font-family: "open_sanslight";
    font-size: 13.93px;
    color: #0069a3;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}

.actu-job table {
    width: 71%;
    margin: auto;
}

.actu-job table td {
    padding-top: 0 !important;
    width: 33.33333%;
    border-right: 1px solid #cbcacb;
    border-top: none !important;
    text-align: center;
    position: relative;
    height: 65px;
}

.actu-job table td:last-child {
    border-right: 0;
}

.actu-job .bottom-actu-job {
    max-width: 810px;
    margin: auto;
    width: 100%;
    padding: 28px 0 9px;
}

.actu-job .bottom-actu-job .actu-job-item {
    width: 266px;
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(1){
    position: relative;
    left: 7px;
    top: -3px;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(1) a{
    margin-left: -13px;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(2){
    position: relative;
    left: 52px;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(2) a{
    margin-left: -13px;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(3) a{
    margin-left: -11px;
}
.actu-job .bottom-actu-job .actu-job-item:nth-child(3){
    position: relative;
    left: 75px;
}


.owl-carousel .owl-wrapper, .owl-carousel .owl-item{
    margin-bottom: -1px;
} 
.actu-job .content-actu-job-item {
    /*width: 68%;*/
    margin: auto;
}

.actu-job .content-actu-job-item span {
    font-size: 17.53px;
    font-family: "open_sansregular";
    color: #282828;
    padding-left: 22px;
    position: relative;
    top: 11px;
}

.actu-job .owl-buttons {
    position: absolute;
    right: 125px;
    top: 56px;
}

.actu-job .carousel-jobs {
    position: absolute;
    right: 298px;
    top: 27px;
}

.actu-job .carousel-jobs .prev {
    background: url(images/prev.png) #e8e8e8 no-repeat 6px 10px !important;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.actu-job .carousel-jobs .next-job {
    background: url(images/prev.png) #e8e8e8 no-repeat 5px 10px !important;
}

.actu-job .carousel-jobs .carousel-control {
    opacity: 1;
    width: 34px;
    height: 34px;
    border-radius: 0;
    display: block;
}

.actu-job .carousel-jobs .carousel-control i {
    color: #f37442;
    font-size: 36px;
}

.actu-job .carousel-jobs .prev {
    top: 55px;
}

.actu-job .offres-responsive {
    display: none;
}


/************************************************************webhelp multinationale***********************************************************/

.webhelp-multinationale {
    background: url(images/bg-multinationale.png);
    background-size: cover;
    width: 100%;
    float: left;
    padding-top: 68px;
    padding-bottom: 83px;
}

.multinatinal-map .map {
    width: 437px !important;
}

.webhelp-multinationale .map {
    height: 250px;
    width: 234px;
    margin: auto;
    position: relative;
}

.webhelp-multinationale .map .localisation {
    position: static;
}

.webhelp-multinationale .marker-agadir {
    position: absolute;
    top: 70px;
    left: 116px;
}

.webhelp-multinationale .map .marker-kenitra {
    position: absolute;
    right: 57px;
    top: 23px;
}

.webhelp-multinationale .map .marker-rabat {
    position: absolute;
    right: 88px;
    top: 18px;
}

.webhelp-multinationale .map .marker-fes {
    position: absolute;
    right: 41px;
    top: 20px;
}

.webhelp-multinationale .text-webhelp-multinationale {
    padding-bottom: 38px;
}

.webhelp-multinationale .text-webhelp-multinationale h2 {
    color: #fff;
    font-family: "open_sansregular";
    font-size: 40px;
    padding-bottom: 11px;
}

.webhelp-multinationale .text-webhelp-multinationale p {
    font-family: "open_sanslight";
    font-size: 20px;
    color: #fff;
    line-height: 26px;
}

.webhelp-multinationale .multinatinal-map h4{
     padding-left: 32px;
 }

.webhelp-multinationale .maroc-map a{
    padding: 10px 25px !important;
    margin-left: -7px;
}
.webhelp-multinationale .multinatinal-map p{
    padding-left: 30px;
}

.webhelp-multinationale .webhelp-map {
    width: 100%;
    max-width: 848px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.webhelp-multinationale .webhelp-map h4 {
    font-family: "open_sansregular";
    font-size: 31px;
    text-transform: capitalize;
    padding-bottom: 11px;
    padding-top: 4px;
}

.webhelp-multinationale .webhelp-map p {
    font-family: "open_sanslight";
    font-size: 15px;
    padding-bottom: 50px;
}

.webhelp-multinationale .webhelp-map .items-webhelp-map {
    float: left;
    text-align: center;
}

.webhelp-multinationale .webhelp-map .maroc-map {
    width: 42%;
}

.webhelp-multinationale .webhelp-map .multinatinal-map {
    width: 42%;
}

.webhelp-multinationale .webhelp-map .maroc-icon {
    position: relative;
    top: 356px;
    width: 16%;
}
.webhelp-multinationale .multinatinal-map a{
    padding: 10px 22px;
    margin-left: 23px;
}

.webhelp-multinationale .webhelp-map .maroc-icon .carousel {
    top: -5px;
}

.webhelp-multinationale .webhelp-map .maroc-icon a:hover {
    background: transparent;
}

.webhelp-multinationale .webhelp-map .maroc-icon a {
    background: transparent;
}

.webhelp-multinationale .webhelp-map .maroc-icon a i {
    color: #ff6319;
    font-size: 61px;
}

.webhelp-multinationale .webhelp-map .maroc-icon span {
    font-family: "open_sanslight";
    font-size: 15.96px;
}

.webhelp-multinationale .webhelp-map a {
    color: #fff;
    background: #ff6319;
    font-family: "open_sansregular";
    font-size: 14.58px;
}

.webhelp-multinationale .webhelp-map a:hover {
    background: #e05310;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}


/************************************************************Témoignage monde***********************************************************/

.temoignage-monde {
    background: url(images/bg-temoignage.png) no-repeat;
    background-size: cover;
    padding-top: 59px;
    float: left;
    width: 100%;
    padding-bottom: 52px;
}

.temoignage-monde h2 {
    font-size: 40px;
    font-family: "open_sansregular";
    padding-bottom: 47px;
}

.temoignage-monde .content-temoignage-monde {
    width: 100%;
    max-width: 893px;
    margin: auto;
}

.temoignage-monde .text-temoignage {
    text-align: center;
    line-height: normal;
    margin-top: -5px;
}

.temoignage-monde .text-temoignage .counter {
    font-family: "open_sansregular";
    color: #4b4b4b;
    font-size: 46.39px;
    line-height: normal;
}

.temoignage-monde .text-temoignage .letter-ca {
    font-size: 28px;
    color: #4b4b4b;
    line-height: 72px;
}

.temoignage-monde .text-temoignage .plus {
    font-family: "open_sansregular";
    color: #4b4b4b;
    font-size: 54.95px;
}

.temoignage-monde .temoignage-item {
    width: 25%;
    float: left;
}
.temoignage-monde .temoignage-item:nth-child(3){
    margin-left: -8px;
}
.temoignage-monde .temoignage-item:nth-child(4){
    position: relative;
    left: 16px;
}

.temoignage-monde .temoignage-item:nth-child(4) .text-temoignage{
    margin-top: 4px;
    padding-left: 15px;
}

.temoignage-monde .temoignage-item:nth-child(4) .text-temoignage .criteres-temoignage{
    margin-top: -3px;
}
.temoignage-monde .criteres-temoignage {
    color: #282828;
    display: block;
    font-family: "open_sansregular";
    font-size: 14.99px;
    text-transform: uppercase;
    margin-top: 5px;
}


/************************************************************que-cherches-tu***********************************************************/

.que-cherches-tu {
    background: url("images/bg-que-cherche-tu.png");
    background-size: cover;
    padding: 64px 20px 36px 20px;
    width: 100%;
    float: left;
    min-height: 342px;
}

.que-cherches-tu .content-que-cherches-tu {
    width: 100%;
    max-width: 894px;
    margin: auto;
}

.que-cherches-tu h2 {
    color: #fff;
    font-size: 45px;
    font-family: "open_sansregular";
    padding-bottom: 18px;
}

.que-cherches-tu .critere-item {
    /* width: 20%;
    float: left;
    padding-top: 88px; */

    display: inline-block;
    /* float: left; */
    padding-top: 95px;
    vertical-align: middle;
    width: 20%;
    text-align: center;
}
.que-cherches-tu .critere-item:nth-child(1){

}
.que-cherches-tu .critere-item:nth-child(2) .critere-text{
    padding-top: 15px;
}
.que-cherches-tu .critere-item:nth-child(3){
    position: relative;
    left: 7px;
}
.que-cherches-tu .critere-item:nth-child(3) .critere-text{
    padding-top: 15px;
}
.que-cherches-tu .critere-item:nth-child(4){
    position: relative;
    left: 8px;
    top: -5px;
}
.que-cherches-tu .critere-item:nth-child(5){
    position: relative;
    left: 12px;
    top: 3px;
}
.que-cherches-tu .critere-item:nth-child(5) .critere-text{
    padding-top: 15px;
}
.que-cherches-tu .critere-item:nth-child(6) .critere-text{
    padding-top: 22px;
}
.que-cherches-tu .critere-item:nth-child(6){
    position: relative;
    left: 17px;
    top: -1px;
}
.que-cherches-tu .critere-item + .critere-item { margin-left: -4px; }

.que-cherches-tu .critere-img {
    position: relative;
}

.que-cherches-tu .critere-img img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.que-cherches-tu .critere-img #job:hover {
    content: url('images/job-hover.png');
}

.que-cherches-tu .critere-img #apprendre:hover {
    content: url('images/apprendre-hover.png');
}

.que-cherches-tu .critere-img #evoluer:hover {
    content: url('images/evoluer-hover.png');
}

.que-cherches-tu .critere-img #travail:hover {
    content: url('images/travail-hover.png');
}

.que-cherches-tu .critere-img #fun:hover {
    content: url('images/fun-hover.png');
}

.que-cherches-tu .critere-text {
    text-align: center;
    padding-top: 25px;
}

.que-cherches-tu .critere-text span {
    color: #fff;
    font-family: "open_sansregular";
    font-size: 16.93px;
}


/************************************************************ton avenir avec nous***********************************************************/

.avenir-avec-nous {
    padding-top: 59px;
    float: left;
    width: 100%;
    background: url(images/bg-avenir.png);
    background-size: cover;
    color: #fff;
    padding-bottom: 46px;
}

.avenir-avec-nous h2 {
    font-family: "open_sansregular";
    font-size: 40px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.avenir-avec-nous .metiers {
    font-family: "open_sanslight";
    font-size: 20px;
    margin-bottom: 38px;
    padding-right: 15px;
    padding-left: 15px;
}

.avenir-avec-nous .meties-120 {
    display: table;
    margin: auto;
}

.avenir-avec-nous .parcours {
    font-family: "open_sansregular";
    font-size: 18px;
    padding: 37px 20px 36px 20px;
}

.avenir-avec-nous a {
    font-family: "open_sanslight";
    font-size: 15.2px;
    background: #ff6319;
    color: #fff;
    line-height: 48px;
    padding: 0 10px 0 30px;
    display: inline-block;
    min-width: 195px;
}

.avenir-avec-nous a:hover {
    background: #e05310;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.avenir-avec-nous a span {
    position: relative;
    right: 26px;
    top: 5px;
    width: 34px;
    height: 35px;
}

.avenir-avec-nous .box-avantages-webhelp {
    width: 100%;
    max-width: 1250px;
    /*  padding-left: 20px;
    padding-right: 20px; */
    position: relative;
    margin: -165px auto 0 auto;
    width: 945px;
    position: relative;
    top: 170px;
}

.avenir-avec-nous .box-avantages-webhelp .box-content-item:nth-child(1) img{
    left: -10px;
}
.avenir-avec-nous .box-avantages-webhelp .box-content-item:nth-child(2) img{
    left: -8px;
}

.avenir-avec-nous .box-avantages-webhelp .box-content-item:nth-child(3){
    width: 296px;
}
.avenir-avec-nous .box-avantages-webhelp .box-content-item {
    width: 292px;
    float: left;
    min-height: 420px;
}
.avenir-avec-nous .box-avantages-webhelp .box-content-item + .box-content-item {
    margin-left: 32px;
}

.avenir-avec-nous .box-avantages-webhelp .box-content {
    border-top: 9px solid #ff6319;
    /* width: 92%; */
    margin: auto;
    background: url(images/bg-box.png) no-repeat;
    background-size: cover;
    padding-top: 70px;
    min-height: 410px;
}
.avenir-avec-nous .box-avantages-webhelp .box-content .imgs-cherche  { 
    /*display: block !important;*/
    float: none;
    min-height: 84px;
    text-align: center;
    margin-top: -13px;
}

.avenir-avec-nous .box-avantages-webhelp .box-content #formation:hover {
    content: url(images/apprendre-hover.png);
}

.avenir-avec-nous .box-avantages-webhelp .box-content #orientation:hover {
    content: url(images/orientation-hover.png);
}

.avenir-avec-nous .box-avantages-webhelp .box-content #evolution:hover {
    content: url(images/evolution-hover.png);
}

.avenir-avec-nous .box-avantages-webhelp h3 {
    font-family: "open_sansregular";
    font-size: 35px;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.box-avantages-webhelp .imgs-box{
    height: 100px;
    width: 80px;
    position: relative;
}
.box-avantages-webhelp .imgs-box img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.avenir-avec-nous .box-avantages-webhelp h6 {
    font-family: "open_sanslight";
    font-size: 22px;
    padding-bottom: 14px;
}

.avenir-avec-nous .box-avantages-webhelp p {
    font-family: "open_sanslight";
    font-size: 13px;
}

.avenir-avec-nous .box-text {
    /* padding: 60px 42px 0 42px; */
    padding: 54px 30px 0;
}


/************************************************************nouvelle famille***********************************************************/

.nouvelle-famille {
    width: 100%;
    float: left;
    background: url(images/bg-nouvelle-famille.png);
    background-size: cover;
    padding-top: 112px;
    padding-left: 42%;
    padding-bottom: 33px;
}

.nouvelle-famille #debut-famille {
    position: relative;
    top: -40px;
}

.nouvelle-famille #start-famille {
    position: relative;
    top: -74px;
}

.nouvelle-famille .text-nouvelle-famille {
    padding-left: 39px;
    padding-bottom: 70px;
}

.nouvelle-famille .content-nouvelle-famille {
    width: 100%;
    max-width: 770px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    padding-top: 60px;
}

.nouvelle-famille h2 {
    font-size: 45px;
    font-family: "open_sansregular";
    padding-bottom: 34px;
    letter-spacing: .8px;
}

.nouvelle-famille p {
    font-size: 20px;
    font-family: "open_sanslight";
    padding-right: 145px;
    line-height: 22px;
}

.nouvelle-famille .item div {
    color: #5f5f5f;
    font-size: 28.96px;
    font-family: "open_sansregular";
    margin-bottom: 10px;
}

.nouvelle-famille .avantages-webhelp {
    width: 100%;
    float: left;
    margin-left: 12px;
    padding-top: 9px;
}

.nouvelle-famille .avantages-webhelp .item {
    width: 200px;
    float: left;
    padding-bottom: 4rem;
}
.nouvelle-famille .avantages-webhelp .item:nth-child(1){
    position: relative;
    left: -14px;
    top: 1px;
}
.nouvelle-famille .avantages-webhelp .item:nth-child(2){
    position: relative;
    left: -29px;
}
.nouvelle-famille .avantages-webhelp .item:nth-child(3){
    position: relative;
    left: -50px;
    top: 1px;
}
.nouvelle-famille .avantages-webhelp .bottom-items .item:nth-child(1){
    left: -21px;
    top: -10px;
}
.nouvelle-famille .avantages-webhelp .bottom-items .item:nth-child(2){
    left: -58px;
    top: -11px;

}
.nouvelle-famille .avantages-webhelp .item img {
    /* height: 50px;
    width: 50px; */
}

.nouvelle-famille .bottom-items {
    float: left;
    width: 100%;
    padding-left: 98px;
    margin-bottom: 6px;
}

.nouvelle-famille .bottom-items .item {
    padding-bottom: 0;
}


/************************************************************avis collaborateur***********************************************************/

.avis-collaborateurs {
    background: url(images/bg-avis.png);
    background-size: cover;
    float: left;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 15px;
    min-height: 125px;
}

.avis-collaborateurs .content-avis {
    width: 100%;
    padding-left: 98px;
    margin: auto;
}

.avis-collaborateurs a {
    font-family: "open_sanslight";
    font-size: 17px;
    color: #4dcfef;
    float: left;
    margin-right: 6px;
    /* width: 205px; */ 
}

.avis-collaborateurs i {
    color: #fff;
    font-size: 36px;
    padding-right: 15px;
    vertical-align: top;
    float: left;
    position: relative;
    top: 4px;
    left: -1px;
}

.avis-collaborateurs p {
    font-family: "open_sanslight";
    font-size: 17px;
    color: #fff;
    width: 86%;
}


/************************************************************l'aventure commence***********************************************************/

.aventure-commence {
    float: left;
    width: 100%;
    background: url(images/bg-aventure.png) no-repeat;
    background-size: cover;
    padding-top: 69px;
}

.aventure-commence h2 {
    font-family: "open_sansregular";
    font-size: 40px;
    color: #fff;
    padding-bottom: 9px;
    letter-spacing: .7px;
}

.aventure-commence .left-aventure {
    width: 622px;
    /*width: 55%;*/
    float: left;
    padding-left: 97px;
}

.aventure-commence .left-aventure p {
    font-size: 20px;
    font-family: "open_sanslight";
    color: #fff;
    padding-top: 3px;
    letter-spacing: .3px;
}
.aventure-commence .content-recrutement p{
    font-family: "open_sansregular";
    font-size: 20.77px;
    letter-spacing: 0.8px;
}

.aventure-commence .content-integration p {
    font-family: "open_sansregular";
    font-size: 20.77px;
    padding-left: 16px;
    letter-spacing: 0.8px;
}
.aventure-commence .right-aventure {
    float: left;
    /*width: 420px;*/
    width: 45%;
    padding-top: 13px;
    padding-left: 60px;
}

.aventure-commence .right-aventure .img-iphone {
    /* text-align: right; */
}

.aventure-commence .right-aventure .img-iphone img {
    max-width: 100%;
}

.aventure-commence .number {
    font-family: "open_sansbold";
    font-size: 128.56px;
    color: #ff6319;
    padding-left: 40px;
}

.aventure-commence .text-number {
    font-family: "open_sansregular";
    font-size: 26.54px;
    color: #fff;
    margin-top: -21px;
}

.aventure-commence .content-recrutement {
    width: 235px;
    padding-top: 1px;
    float: left;
}

.aventure-commence .content-recrutement:after {
    content: '';
    width: 21px;
    height: 21px;
    background: #ff6319;
    display: inline-block;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: 4px;
}

.aventure-commence .icon-suite {
    width: 10%;
    float: left;
    position: relative;
    right: 22px;
    top: 224px;
}

.aventure-commence .content-integration {
    width: 225px;
    float: left;
    padding-top: 1px;
}
.aventure-commence .content-integration .number{
    padding-left: 58px;
}

.aventure-commence .content-integration:after {
    content: '';
    width: 21px;
    height: 21px;
    background: #ff6319;
    display: inline-block;
    border-radius: 50%;
    margin-left: 87px;
    margin-top: 4px;
}


/************************************************************Comment postuler chez webhelp***********************************************************/

.postuler-webhelp {
    position: relative;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    padding-top: 54px;
    background: url("images/bg-postuler2.png") repeat-x;
    background-size: cover;
}

.postuler-webhelp h2 {
    font-size: 40px;
    font-family: "open_sansregular";
    color: #282828;
    margin-bottom: 20px;
    margin-left: -7px;
}

.postuler-webhelp .choix-postuler {
    font-size: 25px;
    font-family: "open_sanslight";
    color: #282828;
    margin-bottom: 37px;
}

.postuler-webhelp .methodes-postuler{
    width: 908px;
    margin: 0 auto;
}
.postuler-webhelp .methodes-postuler .chrono{
    padding-left: 46px;
}
.postuler-webhelp .methodes-postuler .online{
    padding-left: 47px;
}
.postuler-webhelp .methodes-postuler .col-lg-6{
    padding: 0;
    width: 420px;
}
.postuler-webhelp .methodes-postuler .col-lg-6 +.col-lg-6 { margin-left: 68px; }

/* .postuler-webhelp .methodes-postuler .chrono {
    width: 83%;
} */

.postuler-webhelp .methodes-postuler .chrono > p {
    margin-bottom: 48px;
    font-family: "open_sanslight";
    font-size: 38.08px;
    text-transform: uppercase;
    line-height: 50px;
}

.postuler-webhelp .methodes-postuler .chrono > p > span {
    font-family: "open_sansbold";
    color: #1b7ecb;
}

.postuler-webhelp .methodes-postuler .explication-methode p {
    font-family: "open_sansregular";
    font-size: 17.07px;
    color: #313131;
    line-height: 21px;
    margin-bottom: -3px;
}
.postuler-webhelp .methodes-postuler .explication-online.explication-methode{
    margin-bottom: 5px;
}
.postuler-webhelp .methodes-postuler .explication-methode p.astuce {
    line-height: 19px;
    margin-top: -8px;
}

.postuler-webhelp .methodes-postuler .explication-methode p span {
    color: #ff6319;
}

.postuler-webhelp .methodes-postuler .explication-methode .astuce:before {
    content: ' ';
    display: inline-block;
    background: url(../images/astuce.png) no-repeat;
    height: 31px;
    width: 38px;
    position: relative;
    right: 36px;
    top: 6px;
}

.postuler-webhelp .methodes-postuler .explication-methode .astuce span {
    margin-left: -38px;
}

/* .postuler-webhelp .methodes-postuler .online {
    width: 83%;
} */

.postuler-webhelp .methodes-postuler .online > p {
    font-family: "open_sansregular";
    font-size: 38.0px;
    color: #282828;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.postuler-webhelp .methodes-postuler .online > p:before {
    content: '';
    width: 24px;
    height: 24px;
    background: #70ed33;
    display: inline-block;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 15px;
}

.postuler-webhelp .methodes-postuler .online > p div {
    background: #f00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.postuler-webhelp .methodes-postuler .avantages > span {
    font-family: "open_sansregular";
    font-size: 30.1px;
    color: #ff6319;
    line-height: normal;
}

.postuler-webhelp .methodes-postuler .avantages p {
    font-family: "open_sansregular";
    font-size: 13.2px;
}

.postuler-webhelp .methodes-postuler .avantages p span {
    color: #ff6319;
}

.postuler-webhelp .methodes-postuler .avantages-chrono {
    padding-top: 23px;
}

.postuler-webhelp .suite-postuler {
    padding-top: 48px;
    float: left;
    width: 100%;
}
.postuler-webhelp .suite-postuler .etapes{
    width: 908px;
    margin: 0 auto;
}

.postuler-webhelp .suite-postuler h3 {
    color: #282828;
    font-family: "open_sanslight";
    font-size: 25px;
    padding-bottom: 54px;
    margin-left: -6px;
    letter-spacing: .5px;
}

.postuler-webhelp .suite-postuler .etapes .item-etape {
    width: 293px;
    float: left;
}

.postuler-webhelp .suite-postuler .etapes .item-etape:after {
    content: '';
    display: inline;
    background: url(images/next-step.png) no-repeat;
    float: right;
    height: 39px;
    width: 21px;
    position: relative;
    bottom: 80px;
    left: 0px;
}

.postuler-webhelp .suite-postuler .etapes .item-etape:last-child:after {
    content: none;
}
.postuler-webhelp .suite-postuler .etapes .item-etape:nth-child(1){
    padding-left: 66px;
    padding-top: 4px;
}
.postuler-webhelp .suite-postuler .etapes .item-etape:nth-child(1):after{
    bottom: 84px;
    left: 53px;
}

.postuler-webhelp .suite-postuler .etapes .item-etape:nth-child(2):after{
    bottom: 83px;
    left: 42px;
}
.postuler-webhelp .suite-postuler .etapes .item-etape:nth-child(2){
    padding-left: 51px;
    padding-top: 3px;
}
.postuler-webhelp .suite-postuler .etapes .item-etape:nth-child(3){
    padding-left: 42px;
    padding-top: 2px;
}
.postuler-webhelp .suite-postuler .etapes .text-etape {
    font-family: "open_sanssemibold";
    font-size: 15.5px;
    color: #ff6319;
    padding-top: 24px;
}

.postuler-webhelp .container{
    position: relative;
}

.postuler-webhelp .img-wh {
    position: absolute;
    bottom: -119px;
    left: 14px;
}


/************************************************************Intégration***********************************************************/

.integration {
    float: left;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 28px;
    background: url(images/bg-integration2.png) no-repeat;
    background-size: cover;
}

.integration h2 {
    font-family: "open_sansregular";
    font-size: 40px;
    color: #282828;
    margin-bottom: 32px;
    margin-left: -4px;
    letter-spacing: .6px;
}

.integration .content-integration {
    float: left;
    width: 100%;
}

.integration .integration-text {
    font-family: "open_sansregular";
    font-size: 23px;
    color: #282828;
    text-align: center;
    margin-bottom: 28px;
    /* padding-left: 70px;
    padding-right: 70px; */
    line-height: 30px;
}

.integration .premiers-pas {
    text-align: center;
    font-family: "open_sanslight";
    font-size: 25px;
    color: #0069a3;
    padding-top: 14px;
    padding-left: 61px;
    padding-right: 61px;
    line-height: 30px;
    margin-bottom: 15px;
}

.integration .premiers-pas span {
    font-family: "open_sansregular";
    display: block;
}

.integration .video-integration {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
    padding-top: 2px;
}

.integration .video-integration-item {
    position: relative;
    width: 270px;
    height: 170px;
    display: inline-block;
    float: none;
}
.integration .video-integration-item + .video-integration-item {
    margin-left: -4px;
}

.integration .video-integration-item .video-link {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17.5px -0 0 -17.5px;
}

.integration .video-integration .img-video {
    width: 100%;
}

.integration .services-webhelp {
    /* padding: 35px 135px 0 135px; */
    float: left;
    width: 100%;
    text-align: center;
}

.integration .services-webhelp .services-item {
    width: 270px;
    display: inline-block;
    text-align: center;
}

.integration .services-webhelp .services-item a{
    display: block;
}

.integration .services-webhelp .services-item .imgs{
    float: none;
    display: inline-block;
    margin-right: 16px;
}

.integration .services-webhelp .services-item span {
    font-family: "open_sansregular";
    font-size: 17.53px;
    color: #282828;
    display: inline-block;
    vertical-align: middle;
}

.integration .services-webhelp .services-item:nth-child(1){
    margin-left: -55px;
}
.integration .services-webhelp .services-item:nth-child(2){
    padding-left: 36px;
}
.integration .services-webhelp .services-item:nth-child(3){
    padding-left: 91px;
}
/************************************************************newsletter***********************************************************/

.newsletter {
    background: url(images/bg-newsletter.png) no-repeat;
    width: 100%;
    float: left;
    padding-top: 88px;
    padding-bottom: 78px;
}
.newsletter .conseil{
    text-align: center;
    padding-bottom: 45px;
}
.newsletter .conseil h3{
    color: #fff;
    font-size: 30.15px;
    font-family: "open_sansregular";
    padding-bottom: 27px;

}
.newsletter .conseil .infographie-link{
    width: 190px;
    height: 45px;
    display: inline-block;
    line-height: 42px;
    position: relative;
    left: -12px;
 }
.newsletter .conseil .seminaire-link{
    width: 190px;
    height: 45px;
    display: inline-block;
    line-height: 42px;
    position: relative;
    left: 12px;
}
.newsletter .conseil a{
    background: #ff6319;
    color: #fff;
    font-size: 15.35px;
    font-family: open_sansregular;
}
.newsletter h2 {
    font-size: 43.95px;
    font-family: "open_sansregular";
    color: #fff;
    padding-bottom: 45px;
}

.newsletter .form-wrapper {
    width: 837px;
    margin: auto;
    padding-left: 7px;
}

.newsletter .form-wrapper input[type="text"] {
    border-radius: 0;
    height: 43px;
    border: 0;
    background: #121618;
    opacity: .6;
    box-shadow: none;
    font-family: "open_sansregular";
    font-size: 17.78px;
    color: #6f757a;
    padding-left: 22px;
    width: 352px;
}
.newsletter .form-wrapper label{
    float: left;
    color: #fff;
    font-size: 30px;
    font-family: "open_sansregular";
    font-weight: normal;
    margin-right: 35px;
}

.newsletter .form-wrapper button {
    border: 0;
    height: 43px;
    border-radius: 0;
    background: #ff6319;
    width: 53px;
}

.newsletter .form-wrapper button:hover {
    background: #e05310;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.newsletter .form-wrapper button i {
    color: #fff;
    font-size: 23px;
}

.newsletter::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "open_sansregular";
    font-size: 17.78px;
    padding: 10px 0;
    position: relative;
    top: -13px;
    color: #6f757a;
}

.newsletter::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "open_sansregular";
    font-size: 17.78px;
    padding: 10px 0;
    position: relative;
    top: -13px;
    color: #6f757a;
}


/*.newsletter :-ms-input-placeholder {
   IE 10+
  font-family: "open_sansregular";
  font-size: 33.33px;
  padding: 10px 0;
  position: relative;
  top: -24px;
  color: #6f757a;}*/

.newsletter:-moz-placeholder {
    /* Firefox 18- */
    font-family: "open_sansregular";
    font-size: 17.78px;
    padding: 10px 0;
    position: relative;
    top: -13px;
    color: #6f757a;
}


/************************************************************Footer***********************************************************/

footer {
    float: left;
    width: 100%;
}

footer .logo-footer {
    width: 26%;
    float: left;
    /* padding-top: 4.5rem; */
}

footer .logo-footer .logo-foot {
    max-width: 134px;
}

footer .menu-footer {
    float: left;
    width: 74%;
    padding-top: 11px;
}

footer .menu-footer .menu-items {
    float: left;
}

footer .menu-footer .menu-items-wh {
    width: 28%;
}

footer .menu-footer .menu-items-avenir {
    width: 25%;
    float: left;
}

footer .menu-footer .menu-items-famille {
    width: 23%;
}

footer .menu-footer .menu-items-aventuree {
    width: 25%;
}

footer .menu-footer .menu-items span {
    font-size: 17.52px;
    font-family: "open_sansregular";
    color: #d6d6d6;
    padding-right: 13px;
}

footer .menu-footer .menu-items li {
    font-family: "open_sanslight";
    font-size: 16.32px;
    line-height: 22px;

}
footer .menu-footer .menu-items li + li{
    /* margin-top: 5px; */
}

footer .menu-footer .menu-items li a {
    color: #a0a0a0;
}

footer .menu-footer .menu-items li:hover a {
    color: #ff6319;
}

footer .menu-footer .menu-items ul {
    padding-top: 21px;
}

footer .content-footer {
    width: 100%;
    max-width: 1140px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
    min-height: 237px;
    position: relative;
}

footer .footer-top {
    background: url(images/bg-footer.png);
    background-size: cover;
    padding-top: 51px;
    float: left;
    width: 100%;
}

footer .suivez-nous {
    bottom: -34px;
    clear: both;
    position: absolute;
    width: 100%;
}
.footer-pages {
    max-width: 1174px !important;
    padding-top: 0;
}

.footer-pages .logo-footer .logo-foot{
    width: 96px;
    height: 56px;
}

footer .suivez-nous .content-suivez-nous {
    margin: 35px auto 4px;
    width: 387px;
    display: table;
    position: relative;
    bottom: 41px;
}

footer .suivez-nous span {
    font-size: 11.93px;
    font-family: "open_sanslight";
    color: #a0a0a0;
    display: inline-block;
    padding-right: 15px;
    vertical-align: bottom;
}
footer .suivez-nous span + ul{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}

footer .map-footer-top {
    position: relative;
    top: -10px;
    left: -9px;
    color: #7f7f7f;
    float: left;
    padding-right: 16px;
    padding-top: 8px;
}

footer .suivez-nous li {
    float: left;
    padding-right: 25px;
}

footer .suivez-nous li:last-child {
    padding-right: 0;
}

footer .suivez-nous li i {
    color: #e2e2e2;
    font-size: 22px;
}

footer .suivez-nous li:hover i {
    color: #ff6319;
}

footer .footer-bottom {
    /* float: left; */
    overflow: hidden;
    width: 100%;
    background: #282828;
    padding-top: 16px;
    padding-bottom: 20px;
}

footer .content-footer-bottom {
    width: 100%;
    max-width: 830px;
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}

footer .content-footer-bottom p {
    color: #8a8a8a;
    font-size: 11.73px;
    font-family: "open_sanslight";
    margin: 0;
    line-height: 16px;
}

footer .content-footer-bottom .copyright {
    font-family: "open_sanslight";
    font-size: 10.49px;
    color: #8a8a8a;
}

footer .content-footer-bottom .copyright a {
    color: #c7c7c7;
    font-size: 10.49px;
    border-left: 2px solid #575757;
    padding-left: 5px;
    margin-left: 3px;
}

.share-btn {
    display: none;
    position: fixed;
    right: 2%;
    padding: 10px;
    z-index: 99999;
}

.share-btn li {
    margin-bottom: 16px;
    height: 87px;
    width: 87px;
    background: #24d3fa;
    border-radius: 50%;
}

.share-btn li img {
    margin: auto;
    display: block;
    padding-top: 20px;
}

#social-btn-resp {
    position: fixed;
    top: 78%;
    left: 0;

}

#social-btn-resp span,
#social-btn-resp span:before,
#social-btn-resp span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 6px;
    width: 40px;
    background: #ff6319;
    position: absolute;
    display: block;
    content: '';
}

#social-btn-resp span:before {
    top: -10px;
}

#social-btn-respspan:after {
    bottom: -10px;
}

#social-btn-resp .bar1 {
    top: 10px;
}

.backTop .fa {
    color: #ff6319;
}

.form-responsive {
    display: none;
}

.medium-iphone {
    display: none;
}

.tablet-iphone {
    display: none;
}

.mobile-iphone {
    display: none;
}

@media (max-width: 1550px) {
    .slider-home form {
        padding-top: 59px;
    }
    .slider-home .form-wrapper{
        margin-bottom: 20px;
    }
}

@media (max-width: 1350px) {
    .avenir-avec-nous .box-avantages-webhelp .box-content {
        min-height: 410px !important;
    }
    .nouvelle-famille .text-nouvelle-famille {
        padding-bottom: 20px;
    }
    .nouvelle-famille .text-nouvelle-famille {
        padding-bottom: 20px !important;
    }
    .slider-home h2 {
        font-size: 120.03px !important;
    }
    .slider-home p {
        font-size: 45.14px;
    }
    footer .menu-footer .menu-items span {
        font-size: 18px;
    }
    .actu-job .carousel-jobs {
        right: 20px;
    }
    .espace-membre a .icon {
        width: 26px;
        right: 7px;
    }
}

@media (max-width: 1800px) {
    .avenir-avec-nous .box-avantages-webhelp .box-content {
        min-height: 28rem;
    }

    .slider-home .owl-controls{
        right: 60px;
    }
}

@media (max-width: 1350px) and (min-width: 1200px) {
    .aventure-commence .container {
        width: 100% !important;
        padding-left: 25px;
        padding-right: 25px;
    }
} 

@media (max-width: 1300px) {
    .main-menu {
        width: 69%;
    }
    .main-menu li {
        width: 50%;
    }
    .slider-home .espace-membre {
        margin:0 20px 0 0;
    }
    .slider-home .espace-membre a {
        font-size: 12px;
        width: 152px;
    }
}

@media (max-width: 1200px) {
    .integration h2 {
        font-size: 46px;
    }
    .integration .premiers-pas {
        font-size: 33px;
    }
    .postuler-webhelp .suite-postuler h3 {
        font-size: 30px;
    }
    .postuler-webhelp .choix-postuler {
        font-size: 30px;
    }
    .postuler-webhelp .methodes-postuler .online > p {
        font-size: 40px;
    }
    .postuler-webhelp .methodes-postuler .chrono > p {
        font-size: 40px;
    }
    .postuler-webhelp h2 {
        font-size: 40px;
    }
    .avenir-avec-nous .box-avantages-webhelp h6 {
        font-size: 24px;
    }
    .avenir-avec-nous .box-avantages-webhelp h3 {
        font-size: 35px;
    }
    .webhelp-multinationale .webhelp-map h4 {
        font-size: 35px;
    }
    .webhelp-multinationale .text-webhelp-multinationale p {
        font-size: 23px;
    }
    .avenir-avec-nous .parcours {
        font-size: 23px;
    }
    .avenir-avec-nous .metiers {
        font-size: 21px;
    }
    .avenir-avec-nous h2 {
        font-size: 43px;
    }
    .webhelp-multinationale .text-webhelp-multinationale h2 {
        font-size: 40px;
    }
    .que-cherches-tu h2 {
        font-size: 40px;
    }
    .temoignage-monde .text-temoignage .plus {
        font-size: 35px;
    }
    .temoignage-monde .text-temoignage .counter {
        font-size: 35px;
    }
    .temoignage-monde h2 {
        font-size: 39px;
    }
    .large-iphone {
        display: none;
    }
    .medium-iphone {
        display: block;
    }
    footer .menu-footer .menu-items span {
        font-size: 16px;
    } 
    .slider-home .carousel-indicators {
        top: 44%;
    }
    .slider-home form select {
        height: 62px;
    }
    .slider-home button {
        /* height: 62px; */
    }
    .slider-home .carousel-caption {
        top: 175px !important;
    }
    .slider-home h2 {
        font-size: 80.03px !important;
    }
    .slider-home form {
        padding-top: 20px !important;
    }
    .slider-home p {
        font-size: 35px !important;
    }
    .postuler-webhelp .img-wh {
        left: 0;
    }
    .avis-collaborateurs a {
        font-size: 19px;
        width: 186px;
    }
    .nouvelle-famille h2 {
        font-size: 40px;
        padding-bottom: 15px;
    }
    .nouvelle-famille p {
        font-size: 23px;
    }
    .nouvelle-famille .item div {
        font-size: 30px;
    }
    .nouvelle-famille .avantages-webhelp .item {
        padding-bottom: 35px;
    }
    footer .menu-footer .menu-items li {
        font-size: 18px;
    }
    .slider-home form {
        padding-top: 100px;
    }
    .slider-home h2 {
        font-size: 140px;
        padding-bottom: 0;
    }
    .slider-home p {
        font-size: 60px;
    }
    nav {
        width: 76%;
    }
    nav .main-menu a {
        font-size: 13px !important;
        padding: 10px 12px;
    }
    .espace-membre {
        float: right;
    }
    .espace-membre a {
        font-size: 11px !important;
    }
    .slider-home .espace-membre .slide {
        padding-top: 7rem;
    }
    .integration .services-webhelp {
        padding: 35px 0;
    }
    .aventure-commence h2 {
        font-size: 37px;
    }
    .aventure-commence .left-aventure p {
        font-size: 22px;
    }
    .aventure-commence .content-recrutement {
        padding-top: 0;
    }
    .aventure-commence .content-recrutement:after {
        margin-left: 54px;
    }
    .aventure-commence .content-integration {
        padding-top: 0;
    }
    .aventure-commence .content-integration:after {
        margin-left: 54px;
    }
    .aventure-commence .number {
        font-size: 100px;
    }
    .aventure-commence .icon-suite {
        right: 28px;
        top: 197px;
    }
    .webhelp-multinationale {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .webhelp-multinationale .map img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .multinatinal-map .map {
        width: 389px !important;
    }
}

@media (max-width: 1096px) and (min-width: 991px) {
    .espace-membre a .icon {
        display: none;
    }
    .espace-membre a {
        width: 113px;
    }
}

@media (max-width: 1068px) and (min-width: 992px) {
    nav .main-menu a {
        padding: 10px 6px;
    }
}

@media (max-width: 992px) and (min-width: 600px) {
    .actu-job .bottom-actu-job {
        padding-bottom: 70px;
    }

}

@media (max-width: 992px) {
    .nouvelle-famille .content-nouvelle-famille{
        background: rgba(255, 255, 255, 0.6);
    }
    .nouvelle-famille .avantages-webhelp{
        text-align: center;
    }
    .nouvelle-famille .avantages-webhelp .item{
        float: none;
        display: inline-block;
    }
    .avenir-avec-nous .box-avantages-webhelp .box-content-item{
        width: 100%;
        margin-left:0 !important;
    }
    .avenir-avec-nous .box-avantages-webhelp,
    .postuler-webhelp .methodes-postuler,
    .postuler-webhelp .suite-postuler .etapes{
        width: 100%; 
    }
    .slider-home .form-wrapper .input-group{
        min-width: 70%;
    }
    .espace-membre {
        margin-top: 3px;
    }
    .webhelp-multinationale .webhelp-map p {
        font-size: 19.02px;
    }
    .tablet-iphone {
        display: block;
        margin: auto;
    }
    .medium-iphone {
        display: none;
    }
    footer .menu-footer .menu-items {
        width: 50%;
        margin-bottom: 20px;
    }
    footer .suivez-nous .content-suivez-nous {
        bottom: 0;
    }
    footer .footer-top {
        padding-bottom: 30px;
    }
    footer .logo-footer {
        width: 35%;
    }
    footer .menu-footer {
        width: 65%;
    }
    .actu-job .bottom-actu-job .actu-job-item {
        text-align: center;
    }
    .slider-home .carousel-caption {
        top: 124px !important;
    }
    .content-top-slide {
        padding-top: 0;
    }
    .logo-top .logo {
        max-width: 120px;
        padding-top: 18px;
    }
    .logo-top .fond-logo {
        top: -28.5px;
        left: -278px;
    }
    .que-cherches-tu .critere-text span {
        font-size: 19px;
    }
    .avis-collaborateurs a {
        width: 184px;
    }
    .avis-collaborateurs p {
        width: 72%;
    }
    .newsletter .form-wrapper {
        width: 59%;
    }
    .avenir-avec-nous .box-avantages-webhelp .box-content {
        padding-top: 52px;
    }
    .avenir-avec-nous .box-text h3 {
        font-size: 28px;
    }
    .avenir-avec-nous .box-text h6 {
        font-size: 20px;
    }
    .actu-job h2 {
        font-size: 40px;
    }
    .actu-job table {
        width: 88%;
    }
    .actu-job .webhelp-offres .offre {
        font-size: 21px;
    }
    .actu-job .webhelp-offres .ville-job {
        font-size: 17px;
    }
    .actu-job .content-actu-job-item {
        width: 60%;
    }
    .actu-job .content-actu-job-item span {
        font-size: 16px;
        padding-left: 10px;
    }
    .nouvelle-famille {
        padding-left: 34%;
    }
    .nouvelle-famille .item div {
        font-size: 24px;
    }
    .nouvelle-famille p {
        font-size: 20px;
    }
    .nouvelle-famille .text-nouvelle-famille {
        padding-left: 65px;
    }
    .slider-home h2 {
        font-size: 110px;
    }
    .slider-home p {
        font-size: 50px;
    }
    .slider-home form {
        width: 65.2%;
    }
    .slider-home nav {
        width: 83%;
    }
    .slider-home nav .main-menu a {
        font-size: 13px;
        padding: 10px 6px;
    }
    .slider-home .carousel-indicators {
        right: 10px;
    }
    .integration .premiers-pas {
        font-size: 30px;
    }
    .postuler-webhelp .img-wh {
        display: none;
    }
    .postuler-webhelp .methodes-postuler .chrono {
        width: 90%;
    }
    .postuler-webhelp h2 {
        font-size: 40px;
    }
    .postuler-webhelp .choix-postuler {
        font-size: 33px;
    }
    .postuler-webhelp .methodes-postuler .online {
        width: 90%;
    }
    .postuler-webhelp .methodes-postuler .online > p {
        font-size: 38px;
    }
    .postuler-webhelp .methodes-postuler .chrono > p {
        font-size: 38px;
    }
    .postuler-webhelp .suite-postuler .etapes .text-etape {
        font-size: 16px;
    }
    .postuler-webhelp .suite-postuler h3 {
        font-size: 33px;
    }
    .slider-home h2 {
        font-size: 58px !important;
    }
    .slider-home p {
        font-size: 25px !important;
    }
    .slider-home form select {
        padding-left: 10px;
        font-size: 22px;
    }
    .slider-home button {
        padding: 0px 15px;
    }
    .slider-home form select {
        height: 48px;
    }
    .slider-home button {
        /*  height: 48px; */
    }
    .slider-home .bottom-nav ul li {
        font-size: 13px;
    }
    .slider-home .bottom-nav ul li a {
        font-size: 13px;
    }
    .c-button {
        top: 9px;
    }
}

@media (max-width: 992px) and (min-width: 767px) {
    .multinatinal-map .map {
        width: 288px !important;
    }
    footer .suivez-nous{
        bottom: -130px;
    }
}

@media (max-width: 767px) {
    footer .suivez-nous{
        bottom: -74px;
    }
    .temoignage-monde .text-temoignage .letter-ca{
        line-height: normal;
    }
    .slider-home .form-wrapper,
    .slider-home .bottom-nav ul{
        display: none;
    }
    .slider-home .owl-theme .owl-controls .owl-page + .owl-page span{
        margin-top: 0;
    }
    .slider-home .owl-theme .owl-controls .owl-page span{
        margin: 0 7px;
    }
    .owl-theme .owl-controls .owl-page{
        display: inline-block;
        vertical-align: middle;
    }
    .slider-home .owl-controls{
        top: 92%;
    }
    .espace-membre a {
        width: 100%;
        font-size: 14px !important;
    }
    .espace-membre a .icon {
        width: 50px;
    }
    .multinatinal-map .map {
        width: 231px !important;
    }
    .webhelp-multinationale .text-webhelp-multinationale {
        padding-bottom: 73px;
    }
    .nouvelle-famille p {
        font-size: 15px;
    }
    .nouvelle-famille .item div {
        font-size: 19px;
    }
    .nouvelle-famille {
        padding-top: 210px;
        padding-bottom: 0;
    }
    .tablet-iphone {
        display: none;
    }
    .slider-home .owl-controls {
        right: 20px;
    }
    .responsive-main-menu {
        z-index: 999999;
    }
    footer .footer-top .map-footer-top {
        display: block;
        margin: auto;
    }
    /* footer .suivez-nous span {
        width: auto;
    } */
    .newsletter .form-wrapper input[type="text"] {
        font-size: 20px;
    }
    footer .logo-footer {
        width: 100%;
    }
    footer .menu-footer {
        padding: 57px 10px 0;
        width: 100%;
    }
    footer .map-footer {
        display: block;
        margin: auto;
    }
    .form-responsive form select {
        font-size: 23px !important;
        padding-left: 10px !important;
    }
    .slider-home .owl-theme .owl-controls .owl-page span {
        margin-bottom: 10px;
        width: 14px;
        height: 14px;
    }
    .slider-home .owl-theme .owl-dots .owl-dot.active span {
        margin-bottom: 10px;
        width: 14px;
        height: 14px;
    }
    .slider-home .slide {
        padding-top: 0;
    }
    .content-top-slide {
        padding-top: 5px;
    }
    .que-cherches-tu h2 {
        padding-bottom: 34px;
    }
    .que-cherches-tu .critere-text span {
        font-size: 15px;
    }
    .que-cherches-tu .critere-img {
        width: 100%;
    }
    .que-cherches-tu .critere-img img {
        width: 50%;
    }
    .avis-collaborateurs a {
        line-height: normal;
        width: auto;
    }
    .avis-collaborateurs p {
        line-height: 25px;
        width: auto;
    }
    .newsletter {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .newsletter h2 {
        font-size: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .newsletter .form-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .newsletter::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        font-size: 20px;
        top: -20px;
        padding-top: 19px;
    }
    .newsletter::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 20px;
        top: -20px;
        padding-top: 19px;
    }
    /* .newsletter :-3ps {
      IE 10+
      font-size: 20px;
      top: -20px;
      padding-top: 19px;
    }*/
    .newsletter:-moz-placeholder {
        /* Firefox 18- */
        font-size: 20px;
        top: -20px;
        padding-top: 19px;
    }
    button {
        padding: 0 9px !important;
    }
    button i {
        font-size: 29px !important;
    }
    .avenir-avec-nous {
        padding-top: 75px;
    }
    .avenir-avec-nous h2 {
        font-size: 33px;
    }
    .avenir-avec-nous .metiers {
        font-size: 20px;
    }
    .avenir-avec-nous .parcours {
        font-size: 20px;
    }
    .avenir-avec-nous .box-text {
        padding: 50px 16px 0 13px;
    }
    .avenir-avec-nous .box-text h3 {
        font-size: 24px;
    }
    .avenir-avec-nous .box-text h6 {
        font-size: 18px;
    }
    .temoignage-monde h2 {
        font-size: 34px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .temoignage-monde .content-temoignage-monde {
        padding-left: 10px;
        padding-right: 10px;
    }
    .temoignage-monde .text-temoignage .counter {
        font-size: 28px;
    }
    .temoignage-monde .text-temoignage .plus {
        font-size: 22px;
    }
    .temoignage-monde .text-temoignage .letter-ca {
        font-size: 22px;
    }
    .temoignage-monde .criteres-temoignage {
        font-size: 13px;
    }
    .bienvenu .bienvenu-text p {
        font-size: 21px;
    }
    .actu-job .webhelp-offres .offre {
        font-size: 18px;
    }
    .carousel-jobs {
        right: 5px !important;
    }
    .webhelp-multinationale {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .webhelp-multinationale .text-webhelp-multinationale h2 {
        font-size: 40px;
        padding-bottom: 5px;
    }
    .webhelp-multinationale .text-webhelp-multinationale p {
        font-size: 22px;
        margin-bottom: -35px;
    }
    .webhelp-multinationale .webhelp-map h4 {
        font-size: 30px;
    }
    .webhelp-multinationale .webhelp-map p {
        font-size: 15px;
    }
    .webhelp-multinationale .webhelp-map a {
        padding: 10px 24px;
    }
    .webhelp-multinationale .webhelp-map .maroc-icon a i {
        font-size: 39px;
    }
    .webhelp-multinationale .webhelp-map .maroc-icon span {
        font-size: 17px;
    }
    .slider-home .navbar {
        display: none;
    }
    .slider-home .slide h2 {
        font-size: 80px;
    }
    .slider-home .slide p {
        font-size: 35px;
    }
    /* .slider-home form {
        padding-bottom: 55px;
        padding-top: 60px;
        width: 100%;
    } */
    .slider-home form select {
        font-size: 23px;
        height: 62px;
    }
    /* .slider-home form button {
        height: 62px;
    } */
    /* .slider-home .bottom-nav {
        float: left;
        padding-left: 20px;
        padding-right: 20px;
    } */
    .responsive-main-menu {
        display: block;
        position: relative;
    }
    .responsive-main-menu .navbar-nav.espace-membre {
        margin: 0;
        margin-top: 40px;
    }
    .responsive-main-menu .navbar-nav.espace-membre span {
        right: 0;
    }
    .integration .integration-text {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    .integration .premiers-pas {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 23px;
    }
    .integration .services-webhelp .services-item span {
        font-size: 18px;
        top: 13px;
    }
    .postuler-webhelp .methodes-postuler .chrono {
        width: 100%;
        margin-bottom: 50px;
    }
    .postuler-webhelp .methodes-postuler .chrono > p {
        padding-bottom: 0;
    }
    .postuler-webhelp .methodes-postuler .avantages-chrono {
        padding-top: 0;
    }
    .postuler-webhelp .methodes-postuler .explication-methode .astuce:before {
        right: 0;
    }
    .postuler-webhelp .methodes-postuler .explication-methode .astuce span {
        margin-left: 0;
    }
    .postuler-webhelp .methodes-postuler .online {
        width: 100%;
    }
    .postuler-webhelp .suite-postuler .etapes .text-etape {
        font-size: 13px;
    }
    .aventure-commence {
        padding-top: 60px;
    }
    .aventure-commence .icon-suite {
        right: 2px;
        top: 151px;
    }
    .aventure-commence .left-aventure {
        width: 100%;
        text-align: center;
    }
    .aventure-commence .right-aventure {
        width: 100%;
    }
    .aventure-commence .number {
        padding-left: 0;
    }
    .aventure-commence .content-recrutement:after {
        margin-left: 0;
    }
    .aventure-commence .content-integration:after {
        margin-left: 0;
    }
    .aventure-commence .right-aventure .img-iphone {
        text-align: center;
    }
    .aventure-commence .right-aventure .img-iphone img.mobile-iphone {
        max-width: 307px;
        margin: auto;
        display: block;
    }
    .aventure-commence .icon-suite {
        top: 65px;
    }
    .nouvelle-famille h2 {
        font-size: 32px;
    }
    .nouvelle-famille .avantages-webhelp .item {
        padding-bottom: 10px;
    }
    .form-responsive {
        display: block;
    }
    .form-responsive form {
        float: left;
        width: 100%;
        margin: auto;
    }
    .form-responsive form select {
        width: 50% !important;
        float: left;
        padding-left: 28px;
        border-radius: 0;
        height: 70px;
        border: 0;
        box-shadow: none;
        font-size: 29.81px;
        font-family: "open_sanslight";
        background: url("images/icon-select.png") #fff no-repeat 94% 53%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        -khtml-appearance: none;
    }
    .form-responsive button {
        height: 70px;
        border: 0;
        border-radius: 0;
        background: #ff6319;
        padding: 0 48px;
    }
    .form-responsive button:hover {
        background: #ff6319;
    }
    .form-responsive button i {
        color: #fff;
        font-size: 30px;
    }
    /* .slider-home form {
        display: none;
    } */
}

@media (max-width: 600px) {
    .actu-job {
        padding-bottom: 20px;
    }
    .logo-top .fond-logo {
        top: -14px;
        left: -88px;
        max-width: 416px
    }
    .logo-top .logo {
        padding-top: 0;
    }
    .logo-top {
        width: 80%;
    }
    .tablet-iphone {
        display: none;
    }
    .mobile-iphone {
        display: block;
    }
    .actu-job .webhelp-offres .ville-job {
        position: static !important;
    }
    .imgs {
        float: none !important;
    }
    .imgs .image-hover {
        margin: auto;
    }
    .integration .services-webhelp .services-item span {
        left: 0;
    }
    .webhelp-multinationale .webhelp-map .maroc-icon {
        top: 0
    }
    .webhelp-multinationale .webhelp-map .multinatinal-map img {
        padding-top: 50px;
    }
    footer .logo-footer {
        width: 100%;
    }
    footer .logo-footer img {
        margin: auto;
        display: block;
    }
    .avenir-avec-nous .box-avantages-webhelp .box-content {
        min-height: auto;
        padding-bottom: 25px;
    }
    .avenir-avec-nous .box-avantages-webhelp .box-content-item {
        margin-bottom: 18px;
        width: 100%;
    }
    .avenir-avec-nous .box-text {
        text-align: center;
    }
    .temoignage-monde {
        padding-top: 60px;
        padding-bottom: 34px;
    }
    .temoignage-monde h2 {
        font-size: 33px;
    }
    .temoignage-monde .temoignage-item {
        padding-bottom: 40px;
    }
    .temoignage-monde h2 {
        padding-bottom: 40px;
    }
    .temoignage-monde .temoignage-item {
        width: 50%;
    }
    .actu-job table {
        display: none;
    }
    .actu-job .offres-responsive {
        padding-left: 22px;
        padding-right: 22px;
        display: block;
    }
    .actu-job .offres-responsive .item-offre {
        width: 33.3333%;
        float: left;
    }
    .content-actu-job-item span {
        display: block;
        padding-left: 0 !important;
        padding-top: 15px;
    }
    .webhelp-multinationale .text-webhelp-multinationale {
        padding-left: 12px;
        padding-right: 12px;
    }
    .webhelp-multinationale .items-webhelp-map {
        width: 100% !important;
    }
    .webhelp-multinationale .webhelp-map .maroc-icon {
        padding-top: 40px;
        padding-bottom: 20px;
        bottom: 0;
    }
    .webhelp-multinationale .webhelp-map p {
        padding-bottom: 25px;
    }
    .webhelp-multinationale .map img {
        display: block;
        margin: auto;
    }
    .nouvelle-famille {
        padding-left: 0;
        background: #f7f7f7 !important;
    }
    .nouvelle-famille .text-nouvelle-famille {
        padding-left: 0;
    }
    .nouvelle-famille .avantages-webhelp .item {
        width: 100%;
        padding-bottom: 35px !important;
    }
    .nouvelle-famille .bottom-items {
        padding-left: 0;
    }
    footer .suivez-nous .content-suivez-nous {
        width: auto;
    }
    /* footer .suivez-nous span {
        width: 100%;
    } */
    .slider-home .slide h2 {
        font-size: 45px;
    }
    .slider-home .slide p {
        font-size: 23px;
    }
    .integration .services-webhelp .services-item span {
        display: block;
    }
    .slider-home .owl-theme .owl-dots .owl-dot span {
        bottom: 0;
        margin-bottom: 2px !important;
    }
    .slider-home h2 {
        font-size: 30px !important;
    }
    .slider-home p {
        font-size: 14px !important;
    }
    .slider-home .bottom-nav ul li {
        font-size: 13px;
    }
    .integration .video-integration-item .video-link{
        left: 50%;
        top: 50%;
    }
    .integration .video-integration-item + .video-integration-item{
        margin-left: 0px;
    }
    .integration .video-integration-item{
        display: block;
        margin: auto !important;
        height: 168px;
    }
}

@media (max-width: 600px) and (min-width: 480px) {
    .actu-job .carousel-jobs .next-job {
        background: url(images/prev.png) #e8e8e8 no-repeat 3px 9px !important;
    }
    .actu-job .carousel-jobs .prev {
        background: url(images/prev.png) #e8e8e8 no-repeat 3px 9px !important;
    }
    .actu-job .webhelp-offres .offre {
        font-size: 13.5px;
        line-height: 22px;
    }
    .actu-job .webhelp-offres .ville-job {
        font-size: 13px;
    }
    .actu-job .carousel-jobs .carousel-control {
        width: 35px;
        height: 35px;
    }
    .postuler-webhelp .suite-postuler .etapes .text-etape {
        font-size: 20px;
    }
    .postuler-webhelp .suite-postuler .etapes .item-etape:after {
        bottom: 137px;
        left: 13px;
    }
} 

@media (max-width: 640px) {
    footer .suivez-nous{
        bottom: -74px;
    }
}

@media (max-width: 480px) {
    .aventure-commence .content-integration .number{
        padding-left: 8px;
    }
    footer .suivez-nous{
        bottom: -70px;
    }
    .postuler-webhelp .methodes-postuler .col-lg-6{
        width: 100%;
    }
    .postuler-webhelp .methodes-postuler .col-lg-6 +.col-lg-6{
        margin-left: 0px;
    }
    .slider-home form{ margin-bottom: 0; }
    .slider-home .form-wrapper .input-group-btn{
        width: 100%;
    }
    .slider-home .form-wrapper .input-group-btn i{
        display: inline-block;
        float: none;
        text-align: center;
    }
    .form-wrapper .select2.select2-container{
        margin-left: -4px;
    }
    .temoignage-monde .temoignage-item {
        width: 100%;
    }
    .logo-top .fond-logo {
        display: none;
    }
    .logo-top {
        padding-top: 12px;
    }
    .slider-home .owl-theme .owl-dots .owl-dot {
        display: none;
    }
    .que-cherches-tu {
        padding-bottom: 50px;
    }
    .que-cherches-tu h2 {
        font-size: 35px;
    }
    .que-cherches-tu .critere-item {
        margin-bottom: 45px;
        width: 100%;
    }
    .que-cherches-tu .critere-img {
        width: 50%;
        margin: auto;
    }
    footer .logo-footer {
        width: 100%;
        padding-top: 0;
    }

    footer .menu-footer {
        padding: 57px 12px 0;
        width: 100%;
    }
    footer .menu-footer .menu-items {
        width: 100%;
    }
    footer .suivez-nous span {
        float: none;
    }
    footer .suivez-nous ul {
        padding-top: 10px;
    }
    .actu-job .offres-responsive .item-offre {
        width: 100%;
        margin-bottom: 38px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .actu-job .content-actu-job-item {
        text-align: center;
        margin-top: 40px;
        padding-bottom: 35px;
    }
    .actu-job .bottom-actu-job {
        padding-top: 0;
        padding-bottom: 0;
    }
    .actu-job .bottom-actu-job .actu-job-item {
        width: 100%;
    }
    .actu-job .top-actu-job {
        padding-bottom: 0;
    }
    .nouvelle-famille h2 {
        font-size: 34px;
    }
    .nouvelle-famille p {
        font-size: 19px;
    }
    .nouvelle-famille .avantages-webhelp .item {
        width: 100%;
    }
    .slider-home form select {
        width: 100% !important;
    }
    .slider-home form .input-group {
        display: block;
    }
    .slider-home button {
        width: 100%;
    }
    .input-group-btn:last-child > .btn,
    .input-group-btn:last-child > .btn-group {
        margin-left: 0;
    }
    .integration .services-webhelp .services-item {
        width: 100%;
        margin-bottom: 30px;
    }
    .integration h2 {
        font-size: 40px;
    }
    .postuler-webhelp .suite-postuler .etapes .item-etape {
        width: 100%;
        margin-bottom: 40px;
    }
    .postuler-webhelp .suite-postuler .etapes .item-etape:after {
        content: none;
    }
    .postuler-webhelp .suite-postuler .etapes .text-etape {
        font-size: 18px;
    }
    .aventure-commence .content-recrutement {
        width: 100%;
    }
    .aventure-commence .content-integration {
        width: 100%;
    }
    .aventure-commence .icon-suite {
        display: none;
    }
    .aventure-commence .img-iphone {
        padding-top: 30px;
    }
    .aventure-commence .img-iphone img {
        width: 100%;
    }
    #social-btn-resp {
        display: block !important;
    }
    .slider-home .bottom-nav ul {
        display: none;
    }
    .logo-top .logo {
        max-width: 89px;
    }
    .slider-home .form-wrapper .input-group {
        min-width: 40%;
    }
    .slider-home .carousel-caption {
        top: 58px !important;
    }
    .form-responsive form select {
        font-size: 18px !important;
    }
    .slider-home .carousel-indicators li {
        margin-bottom: 6px;
        width: 12px;
        height: 12px;
    }
    .slider-home .carousel-indicators li.active {
        margin-bottom: 6px;
        width: 12px;
        height: 12px;
    }
    .content-top-slide {
        padding-top: 0;
    }
    .form-responsive button i .icon {
        width: 40px;
        height: 40px;
    }
    footer .suivez-nous li {
        padding-right: 22px;
    }
}

/* Portrait and Landscape */
@media screen and (max-width: 480px) and (-webkit-device-pixel-ratio: 3) {
    footer .suivez-nous{
        bottom: -50px;
    }
}

@media (max-width: 350px) {
    footer .suivez-nous{
        bottom: -40px;
    }
}

/*# sourceMappingURL=main.css.map */

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 400px;
}

.carousel.vertical .prev {
    top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 52px;
}

.carousel.vertical .active.left {
    top: -400px;
}

.carousel.vertical .active.right {
    top: 400px;
}

.carousel.vertical .item {
    left: 0;
}

.imgs {
    display: block;
    float: left;
}

.image-hover {
    display: none;
}

.actu-job .content-actu-job-item a:hover .image-default {
    display: none;
}

.actu-job .content-actu-job-item a:hover .image-hover {
    display: block;
}

.imgs-box {
    float: none !important;
    display: table !important;
    margin: auto;
}

.imgs-box:hover .image-default {
    displaY: none;
}

.imgs-box:hover .image-hover {
    display: block;
}

.imgs-cherche {
    display: block;
    float: left;
}

.imgs-famille {
    float: none !important;
    display: table !important;
    margin: auto;
}

.nouvelle-famille .content-nouvelle-famille a:hover .image-default {
    display: none;
}

.nouvelle-famille .content-nouvelle-famille a:hover .image-hover {
    display: inline-block;
    margin: auto;
}

.image-hover {
    display: none;
}

.imgs-cherche .image-default {
    margin: auto;
}

.que-cherches-tu .imgs-cherche .image-default {
    margin-top: -81px;
}

.que-cherches-tu .critere-item:hover .image-default {
    displaY: none;
}

.que-cherches-tu .critere-item:hover .image-hover {
    display: block;
    margin: auto;
    margin-top: -81px;
}

.integration .services-webhelp .services-item a:hover .image-default {
    display: none;
}

.integration .services-webhelp .services-item a:hover .image-hover {
    display: inline-block;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.pin {
    text-align: left;
     width: 30px;
    /*height: 30px; */
    border-radius: 50% 50% 50% 0;
    background: #ff6319;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: 0 0 0 -31px;
}

.pin:after {
    content: "";
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #ff6319;
    position: absolute;
    border-radius: 50%;
}

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.pulse {
    text-align: left;
    background: transparent;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: 9999;
}

.pulse:after {
    content: "";
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    margin: -4px 0 0 0px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0;
    box-shadow: 0 0 1px 2px #ff6319;
    animation-delay: 1.1s;
}

.form-wrapper .naissance  .select2.select2-container {
    display: inline-block;
    vertical-align: middle;
    height: 47px;
    width: 142px !important;
}
.form-wrapper .info-poste  .select2.select2-container {
    display: inline-block;
    vertical-align: middle;
    height: 54px;
    width: 421px !important;
}

.form-wrapper .select2.select2-container .select2-selection--single {
    border-radius: 0px;
    border: none;
    text-align: left;
    text-shadow: none;
}

.form-wrapper .select2.select2-container .select2-selection--single .select2-selection__arrow {
    right: 15px;
    top: 0;
}

.form-wrapper .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 7px 6px 0;
    border-color: #7f7f7f transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 6px 7px;
    border-color: transparent transparent #7f7f7f;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    margin-left: -11px;    
    margin-top: -3px;    
}
.form-wrapper .select2.select2-container .select2-selection--single,
.form-wrapper .select2.select2-container .select2-selection--single .select2-selection__arrow {
    height: 47px;
}

.form-wrapper .select2.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 20px;
    font-family: "open_sanslight";
    height: 47px;
    line-height: 47px;
    padding-left: 22px;
}

.form-wrapper .select2.select2-container ~ .select2-container {
    margin-left: -4px;
    width: 235px !important;
}

.trouver-emploi .form-wrapper .select2.select2-container,
.trouver-emploi .form-wrapper .select2.select2-container .select2-selection--single,
.trouver-emploi .form-wrapper .select2.select2-container .select2-selection--single .select2-selection__arrow,
.trouver-emploi .form-wrapper .select2.select2-container .select2-selection--single .select2-selection__rendered,
.container-espace-candidature .form-wrapper .select2.select2-container,
.container-espace-candidature .form-wrapper .select2.select2-container .select2-selection--single,
.container-espace-candidature .form-wrapper .select2.select2-container .select2-selection--single .select2-selection__arrow,
.container-espace-candidature .form-wrapper .select2.select2-container .select2-selection--single .select2-selection__rendered {
    height: 50px;
    line-height: 50px;
    color: #5d5d5d;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.right.carousel-control {
    filter: none;
}

@media all and (min-width:0\0) and (min-resolution: .001dpcm) {
    .slider-home form select {
        background: #fff;
    }
}