/*Colors*/
$primay-blue:#20b2ff;
$primay-orange:#ff6319;
/*End colors*/

/*fonts*/
/* @font-face {
  font-family: 'open_sansbold';
  src: url('fonts/opensans-bold-webfont.eot');
  src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-bold-webfont.woff2') format('woff2'),
  url('fonts/opensans-bold-webfont.woff') format('woff'),
  url('fonts/opensans-bold-webfont.ttf') format('truetype'),
  url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoblack';
  src: url('fonts/lato-black-webfont.eot');
  src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-black-webfont.woff2') format('woff2'),
  url('fonts/lato-black-webfont.woff') format('woff'),
  url('fonts/lato-black-webfont.ttf') format('truetype'),
  url('fonts/lato-black-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('fonts/lato-bold-webfont.eot');
  src: url('fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-bold-webfont.woff2') format('woff2'),
  url('fonts/lato-bold-webfont.woff') format('woff'),
  url('fonts/lato-bold-webfont.ttf') format('truetype'),
  url('fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/opensans-light-webfont.eot');
  src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-light-webfont.woff2') format('woff2'),
  url('fonts/opensans-light-webfont.woff') format('woff'),
  url('fonts/opensans-light-webfont.ttf') format('truetype'),
  url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('fonts/opensans-italic-webfont.eot');
  src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-italic-webfont.woff2') format('woff2'),
  url('fonts/opensans-italic-webfont.woff') format('woff'),
  url('fonts/opensans-italic-webfont.ttf') format('truetype'),
  url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('fonts/opensans-regular-webfont.eot');
  src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-regular-webfont.woff2') format('woff2'),
  url('fonts/opensans-regular-webfont.woff') format('woff'),
  url('fonts/opensans-regular-webfont.ttf') format('truetype'),
  url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('fonts/opensans-semibold-webfont.eot');
  src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
  url('fonts/opensans-semibold-webfont.woff') format('woff'),
  url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
  url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'latoregular';
  src: url('fonts/lato-regular-webfont.eot');
  src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-regular-webfont.woff2') format('woff2'),
  url('fonts/lato-regular-webfont.woff') format('woff'),
  url('fonts/lato-regular-webfont.ttf') format('truetype'),
  url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'myriad-reg';
  src: url('fonts/MYRIADPRO-REGULAR.OTF?#iefix');
  font-weight: normal;
  font-style: normal;
} */



/* @font-face {
  font-family: 'myriad-reg';
  src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
  url('fonts/MyriadPro-Regular.otf')  format('opentype'),
       url('fonts/MyriadPro-Regular.woff') format('woff'), 
       url('fonts/MyriadPro-Regular.ttf')  format('truetype'), 
       url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'myriad-bold';
  src: url('fonts/MYRIADPRO-BOLD.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('fonts/lato-italic-webfont.eot');
  src: url('fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-italic-webfont.woff2') format('woff2'),
  url('fonts/lato-italic-webfont.woff') format('woff'),
  url('fonts/lato-italic-webfont.ttf') format('truetype'),
  url('fonts/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

} */

$myriad-bold:'myriad-bold';
$myriad-reg:'myriad-reg';
$os_bold:'open_sansbold';
$latoblack:'latoblack';
$latobold:'latobold';
$os_light:'open_sanslight';
$os_italic:'open_sansitalic';
$os_regular:'open_sansregular';
$os_sansextrabold:'open_sansextrabold';
$latoregular:'latoregular';
$os_semibold:'open_sanssemibold';
$latoitalic:'latoitalic';

/*End fonts*/

/*end mixins*/

/*General Css*/
body{
  overflow-x: hidden;
}
html {
  font-size: .875vw;
}
a:hover{
  text-decoration: none;
}
a:focus{
  text-decoration: none;
}
ul{
  list-style: none;
}
input:focus{
  outline: none;
}
button:focus{
  outline: none;
}

input[type="submit"]:focus{
  outline: 0;
}
p{
  padding: 0;
  margin: 0;
}
select::-ms-expand {
  display: none;
}

.orange-link {
  text-align: center;
  float: left;
  width: 100%;
  a {
    color: #fff;
    font-size: 16.16px;
    background: $primay-orange;
    padding: 11px 56px;

    &:hover,
    &:active,
    &:focus{
      /*background: #ea5812;*/
      background: #e05310 !important;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
    }
  }
}


/*icons*/
.icon-search-small {
  width: 27px;
  height: 28px;
  float: right;
  background: url(images/search-icon-small.png) no-repeat center; }

.icon-woman{
  width: 32px;
  height: 34px;
  float: right;
  background: url(images/icon-woman.png) no-repeat center;
}

.icon-man{
  width: 32px;
  height: 35px;
  float: left;
  background: url(images/icon-man.png) no-repeat center;
}

#wrapper,
#content{
  min-height: 100%;
  /* height: 100%; */  
}

.aheight #wrapper,
.aheight #content{
  min-height: auto;
  height: 100%;   
}

/* map */
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom: 50% !important;
    right: 72px !important;
}

html,
body {
    height: 100%;
}

#map {
  height: 100%;
  position: relative;
}

.info-window{
  position: absolute; 
  background: red; 
  display: none; 
  top:0
}

.video-frame,
.video-close{
    box-shadow: none !important;
    text-shadow: none !important;
}