.popin {
    //display: none;
    &.opened{
        right: 0;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;
        transition: all 2s;
    }

    .close-popin{
        color: #fff;
        font-size: 25px;
        font-weight: 300;
        position: absolute;
        top: 2px;
        right: 10px;
        z-index: 1;
    }

    background: #143e5f url("images/bg-popin.png") 0 0 no-repeat;
    position: fixed;
    width: 405px;
    top: 0;
    bottom: 0;
    right: -500px;
    padding: 99px 59px;
    z-index: 9999;

    .share-btn {
        position: relative;
        margin-bottom: 170px;
        right: 0;
        padding: 0;
        text-align: center;
    }
    .share-btn li {  
        display: inline-block;
        margin-right: 13px;
        margin-bottom: 0;
    }

    p,
    h2 {
        color: #fff;
    }
    h2 {
        font-size: 23px;
        font-weight: 300;
    }
    p {
        font-size: 19px;
        font-weight: 300;
        margin-bottom: 83px;
    }

    form{
    	.formline{
            margin-bottom: 15px;
            &.first{
                background: #fff;
                padding: 8px 9px;
                height: 45px; 
                .select2-container{}
                .select2-container,
                .select2-container .select2-choice,
                .select2-container .select2-choice .select2-arrow,
                .select2-container .select2-choice .select2-chosen {
                    color: #191919;
                    height: 30px;
                    font-weight: 300;
                    line-height: 30px;
                    font-size: 15px;
                }  
                .select2-container .select2-choice .select2-arrow{
                    background: none;
                    border: none;
                }
            }
            &.time{ 
                .select2-container{
                    width: 156px !important;
                    ~ 
                    .select2-container{
                        margin-left: 13px;
                        width: 114px !important;
                    }
                }
                .select2-container,
                .select2-container .select2-choice,
                .select2-container .select2-choice .select2-arrow,
                .select2-container .select2-choice .select2-chosen {
                    color: #191919;
                    height: 45px;
                    font-weight: 300;
                    line-height: 45px;
                    font-size: 21px;
                } 
                .select2-container .select2-choice .select2-chosen {
                    padding: 0 10px;
                }
            }

            input{
                width: 176px
            }
    		input,
    		select{
                color: #191919;
                font-size: 21px;
                background: none;
                border: none;
                display: inline-block;
                vertical-align: middle;
    		}
    	}
        .wb-btn{
            background: #ff6319;
            height: 52px;
            border: none;
            line-height: 52px;

            color: #fff;
            font-size: 18.57px;
            display: block;
            text-align:center; 
            width: 100%;

            &:hover,
            &:focus,
            &:active{
                color: #fff;
                background: #e05310 !important;
                -webkit-transition: background-color 2s ease-out;
                -moz-transition: background-color 2s ease-out;
                -o-transition: background-color 2s ease-out;
                transition: background-color 2s ease-out;

            }
        }
    }

    .link{
        color: #fff;
        font-size: 22px;
        display: block;
        text-align: center;

        &:before{
            background: url("images/hour.png") center 0 no-repeat;    
            content: "";
            display: block;
            height: 44px;
            margin: 183px auto 10px;
            width: 44px;
        }

    }

    .call{
        display: none;
    }
    .call-hour{
        display: none;
        h2{
            font-size: 20px;
            margin-bottom: 60px;
        }
    }

    .chat{
        display: none;
        h2{
            font-size: 29px;
            margin-bottom: 50px;
            text-align: center;
        }
        form{
            .formline{
                margin-bottom: 11px;

                &.submit{
                    margin-top: 30px;
                }

                input{
                    background: #fff; 
                    height: 45px;
                    line-height: 45px;
                    display: block;
                    width: 100%;
                    padding: 0 16px;
                    font-size: 19px;
                    font-weight: 300;
                }
            }            
        }
    }

    .chatwindow{
        display: none;
        h2{
            font-size: 20px;
            margin-bottom: 52px;
            text-align: center;
       }
       
       .box-chat{
            background: #f3f3f3 url("images/logo-chat.png") center 20px no-repeat; 
            bottom: 0;
            margin: 0 0 0 -59px;
            padding-top: 100px;
            position: fixed;
       }

       .messages{
            padding: 0 19px;
            overflow: hidden;
            //height: 470px;

            .push{
                font-size: 14px;
                font-weight: 300; 
                width: 100%;
                margin-bottom: 15px;
                display: inline-block;
                text-align: right;

                span{
                    border-radius: 10px;
                    padding: 14px 22px 15px;
                    background: #1b5c85;
                    color: #fff;
                    display: inline-block;
                }

                &.left{ 
                    text-align: left;  
                    span{
                        color: #191919;
                        background: #fff; 
                        text-align: left;                        
                    }
                }
            }
       }

       .zone{
            background: #fff;
            padding: 47px 0;
            textarea{
                border: none;
                //min-height: 120px;
                padding: 0 25px;
                color: #999999;
                font-size: 19px;
                font-weight: 300;
                overflow: auto;
                width: 350px;
                display: inline-block;
                vertical-align: top;
                resize: none;
            }

            button{
                background: none;
                border: none;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;

                i{
                    color: #1b5c85;
                    font-size: 25px;
                }
            }
       }
    }

    .visible{
        display: block;
    } 
}


@media (max-width: 450px){
    .popin{
        padding: 50px 10px;
        width: 100%;
        overflow: scroll;
        h2{
            br{
                display: none;
            }
        }

        p{
            margin-bottom: 30px;
        }

        .share-btn{
            margin-bottom: 60px;
        }

        form {
            .formline {
                input{
                    width: 65%;
                }
                &.time{
                    .select2-container{
                        width: 52% !important;
                    }
                    .select2-container ~ .select2-container{
                        width: 40% !important;
                    }                    
                }
            }
        }

        .link{
            margin-bottom: 20px;

            &:before{
                margin-top: 50px;
            }
        } 
    }
}