.slide-pages {
    .top-slide-actualites {
        background: url(images/bg-actualites.png);
        background-size: cover;
        a {
            font-size: 13.87px;
        }
    }
}

.nos-offres-actualites {
    .type-actualite {
        p {
            &:before {
                content: none !important;
            } 
        }
    }
    .actualites {
        padding-top: 81px;
        .text-offres-actualites{
            min-height: 145px;
            line-height: 135px;
        }
    }
    .actualites-text {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
      width: 61.2% !important;
      padding: 20px 0;
    }
    .details-actualites {
      line-height: normal;
        width: 34% !important;
    }
}

.top-bloc-newsletter {
    float: left;
    .content-newsletter {
        margin-top: 94px;
        float: left;
        background: #ededed;
        padding-top: 43px;
        padding-bottom: 55px;
        p {
            font-size: 24.94px;
            color: #202020;
            padding: 0px 73px 33px 73px;
            letter-spacing: .1px;
            line-height: 32px;
        }
    }
}

