.top-slide-candidature {
    background: url(images/bg-candidature.png) no-repeat;
    background-size: cover;
    a {
        font-size: 13.87px !important;
    }
    .titre {
        padding-bottom: 168px;
        h2 {
            color: #fff;
            font-size: 35px;
            font-weight: 300;
            padding-top: 14px;
        }
    }
}

.espace-candidature {
    background: url("images/bg-content.png") repeat-x;
    background-size: cover;
    float: left;
    width: 100%;
    padding-top: 140px;
    .contenu-form {
        float: left;
        width: 100%;
        margin-bottom: 89px;
    }
    .container-espace-candidature {
        max-width: 1040px;
        margin: auto;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        input[type="radio"] {
            display: none;
        }
        input[type="radio"] + label {
            font-size: 17.74px;
            color: #191919; 
            font-weight: normal;
        }
        input[type="radio"] + label span {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin: -1px 5px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 20%;
            border-radius: 50%;
        }
        input[type="radio"] + label span {
            background: #c9c9c9;
        }
        input[type="radio"]:checked + label span {
            background-color: $primay-orange;
            border: none;
        }
        input[type="radio"] + label span,
        input[type="radio"]:checked + label span {
            -webkit-transition: background-color 0.4s linear;
            -o-transition: background-color 0.4s linear;
            -moz-transition: background-color 0.4s linear;
            transition: background-color 0.4s linear;
        }
    }
    .donnees-personnelles {
        width: 505px;
        float: left;
        padding-left: 4px;
        p {
            font-size: 23px; 
            color: #0069a3;
        }
        .text-civilite {
            padding-top: 90px;
            p {
                font-size: 17.74px;
                color: #191919; 
                float: left;
            }
        }
        .radio-civilite {
            float: left;
            width: 87%;
            padding-left: 36px;
            padding-bottom: 29px;
            label {
                padding-right: 73px;
                ~ label {
                    padding-right: 55px;
                }
            }
        }
        .naissance {
            margin-top: -3px;
            p { 
                font-size: 21px;
                color: #5d5d5d;
            }
            .input-group {
                width: 100%;
                margin-top: 9px;
            }
        }
        input {
            width: 421px;
            margin-bottom: 21px;
        }
        select {
            width: 33%;
        }
        /* #jour{
      width: 30%;
      padding-left: 34px;
    }
    #mois{
      width: 30%;
      padding-left: 29px;
    }
    #annee{
      width: 30%;
      padding-left: 38px;
      background-position: 89% 53%;
    } */
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        border: none;
        height: 54px;
        padding-left: 23px;
        border: 1px solid transparent;
        box-shadow: none;
 
        font-size: 21px;
        color: #5d5d5d;
        text-transform: capitalize;

        &:hover{
            border-color:#ccc;
        }
        &:active,
        &:focus{
            border-color:#ff6319;
        }
    }
    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */ 
        font-size: 21px;
        color: #5d5d5d;
        text-transform: capitalize;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */ 
        font-size: 21px;
        color: #5d5d5d;
        text-transform: capitalize;
    }
    :-ms-input-placeholder {
        /* IE 10+ */ 
        font-size: 21px;
        color: #5d5d5d;
        text-transform: capitalize;
    }
    :-moz-placeholder {
        /* Firefox 18- */ 
        font-size: 21px;
        color: #5d5d5d;
        text-transform: capitalize;
    }
    .info-poste {
        float: right;
        width: 481px;
        select {
            width: 88%;
        }
        p {
            font-size: 23px; 
            color: #0069a3;
            span {
                font-size: 16px;
            }
        }
    }
    select {
        font-size: 21px; 
        text-transform: capitalize;
        border-radius: 0;
        border: 0;
        height: 54px;
        box-shadow: none;
        background: url("images/icon-select-small.png") #fff no-repeat 94% 53%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        -khtml-appearance: none;
    }
    select::-ms-expand {
        display: none;
    }
    .source-webhelp {
        margin-bottom: 55px;
        p {
            padding-bottom: 38px;
        }
        select {
            padding-left: 20px;
            margin-bottom: 54px;
        }
    }
    .region-poste {
        p {
            padding-bottom: 46px;
        }
        select {
            padding-left: 21px;
        }
    }
    .intitule-poste {
        padding-top: 50px;
        p {
            padding-bottom: 44px;
        }
        label {
            font-size: 23px !important;
            color: #5d5d5d !important;
            padding-right: 81px;
            padding-left: 8px;
            span {
                margin-right: 9px !important;
            }
        }
    }
    .cv {
        padding-top: 32px;
        padding-left: 5px;
        p {
            padding-bottom: 42px;
        }
        .fileinput-button {
            width: 421px;
            background: #fff;
            height: 54px;
            input {
                position: absolute;
                top: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px !important;
                direction: ltr;
                cursor: pointer;
            }
        }
        .fileinput-button {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }
        .file-text {
            font-size: 21px; 
            color: #5d5d5d;
            padding-left: 20px;
            line-height: 49px;
            text-transform: uppercase;
            &:after {
                content: '';
                width: 30px;
                height: 30px;
                display: inline-block;
                float: right;
                background: url(images/icon-upload.png) no-repeat;
                position: relative;
                top: 11px;
                right: 20px;
            }
        }
    }
    .buttons{ 
        clear: both;
        overflow: hidden;
        .postuler-rappel{
            margin-left: 41px;
            width: 225px;
            position: relative;
            top:-100px;
            &.zoomIn{
                top: 0;
                -webkit-transition: all 2s ease-out;
                -moz-transition: all 2s ease-out;
                -o-transition: all 2s ease-out;
                transition: all 2s ease-out;
            }
        }
    }
    button {
        margin: auto;
        display: inline-block;
        color: #fff;
        background: $primay-orange;
        border-radius: 0;
        font-size: 17.63px;
        text-transform: capitalize;
        width: 195px;
        height: 48px;
        line-height: 34px;
        &:hover {
            color: #fff;
            background: #e05310 !important;
            -webkit-transition: background-color 2s ease-out;
            -moz-transition: background-color 2s ease-out;
            -o-transition: background-color 2s ease-out;
            transition: background-color 2s ease-out;
        }
    }
    .entretien-video {
        padding-top: 82px;
        padding-bottom: 77px;
        padding-left: 11px;
        a{
            p { 
                font-size: 24.34px;
                color: #232323;
                &:before {
                    content: '';
                    display: block;
                    background: url(images/entretien-video.png) no-repeat;
                    margin: auto;
                    width: 73px;
                    height: 57px;
                    padding-top: 71px;
                }
            }
        }

        a{
            &:hover{
                p{
                    &:before{
                        content: '';
                        display: block;
                        background: url(images/entretien-video-hover.png) no-repeat;
                        margin: auto;
                        width: 73px;
                        height: 57px;
                        padding-top: 71px;
                    }
                }
            }
        }
    }
}
