.slide-pages {
    .top-slide-infographie {
        background: url("images/bg-infographie.png");
        background-size: cover;
        a {
            font-size: 13.87px;
        }
    }
}

.nos-infographies-rh{
    padding-top: 123px;
    .text {
        width: 72%;

        display: inline-block;
        vertical-align: middle;
        padding-bottom: 11px;
    }
    .voir-plus{
        padding-top: 51px;
        padding-bottom: 41px;
    }
    .text-box-img{
        .text{
            padding-bottom: 15px;
        }
    }
    .grow.pic img {
        width: 311px;
        height: 212px;
    }
    .grow.pic {
        width: 311px;
    }
}


