.top-slide-bien-etre {
    background: url("images/bg-bien-etre.png");
    nav {
        a {
            font-size: 13.87px;
        }
    }
}

.bien-etre {
    float: left;
    width: 100%;
    padding-top: 116px;
    background: url("images/bg-content.png") repeat-x; 
    background-size: cover;
    padding-bottom: 27px;

    .container-bien-etre {
        max-width: 1110px;
        margin: auto;
        width: 100%;
        padding-left: 8px;
        //padding-right: 10px;
        .text {
            font-size: 20px;
            color: #000000;
            padding: 0 92px;
            line-height: 22px;
        }
        .panel-group .panel + .panel {
            margin-top: 26px;
        }
    }
    .way-of-working {
        padding-top: 55px;
        p {
            font-size: 33px;
           font-weight: 400;
            font-style: italic;
            color: #242424;
            span {
                text-transform: uppercase;
                color: #19b1ff;
                font-size: 53px;
                &.small {
                    font-size: 33px;
                }
            }
        }
    }
    .bien-etre-item {
        padding-top: 20px;
        padding-left: 18px;
        margin-top: 15px;
        background: #fff;
        width: 517px;
        float: left;
        padding-bottom: 19px;
        margin-bottom: 14px;

        h4 {
            padding-top: 11px;
            font-size: 22.01px;
            color: $primay-blue;
        }
        p {
            font-size: 15.01px;
            color: #212121;
            padding-top: 21px;
            line-height: 18px;
        }
        .img-bien-etre {
            width: 45%;
            float: left;
        }
        .text-bien-etre {
            width: 54%;
            float: left;
            padding-top: 20px;
            padding-left: 26px;
        }
    }
    .bien-etre-right {
        float: right;
        margin-left: 36px;
    }
    .panel-group {
        padding-top: 59px;
        margin-bottom: 24px;

        #collapseOne{
          margin-bottom: 0;
        }
    }
    .panel-heading2 {
        margin-top: -15px;
    }
    h4.actives {
        color: $primay-blue;

    }
    .grow.pic{
        width: 211px;
        img{
            width: 211px;
            height: 181px;
        }
        &:hover{

           img{

           }
        }
    }
}
