.top-slide-entraide {
    background: url("images/bg-entraide.png");
    a {
        font-size: 13.87px !important;
    }
}

.entraide {
    padding-top: 57px;
    padding-bottom: 73px;
    float: left;
    width: 100%;
    .content-entraide {
        max-width: 1043px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .notrasso-top {
        .logo-notrasso {
            width: 133px;
            float: left;
        }
        .text-notrasso {
            float: left;
            width: 786px;
            padding-left: 17px;
            p {
                font-size: 22px;
                color: #222222;
                padding-top: 37px;
                line-height: 28px;
            }
        }
    }
    .notrasso-middle {
        float: left;
        width: 100%;
        padding-top: 108px;
        padding-left: 48px;
        .text-notrasso {
            padding-top: 59px;
            font-size: 19px;
            color: #222222;
            width: 50%;
            float: left;
            p{ 
                line-height: 23px;
            }
        }
        .wrapper-video {
            width: 50%;
            float: left;
        }
        .video {
            position: relative;
            float: left;
            width: 100%;
            padding-left: 46px;
            margin-top: -3px;

            iframe {
                width: 92%;
            }
        }
        .video-link {
          left: 50%;
          margin: -27.5px 0 0 -27.5px;
          position: absolute;
          top: 50%;
            opacity: 0.2;
            &:hover{
                opacity: 1;
                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                transition: all 1s ease-out;
            }
        }
    }
    .notrasso-bottom {
        float: left;
        width: 100%;
        .text-notrasso {
            width: 63%;
            margin: 88px auto 0 auto;
            p {
                font-size: 19px;
                color: #222222;
                text-align: center;
                line-height: 23px;
            }
        }
    }
    .derniere-action {
        float: left;
        margin: auto;
        width: 100%;
        text-align: center;
        margin-top: 58px;
        a {
            text-transform: uppercase;
            color: $primay-orange;
            font-size: 30.29px;
            margin-left: 43px;
            &:after {
                content: '';
                width: 50px;
                height: 50px;
                background: url("images/icon-next.png") no-repeat;
                display: inline-block;
                position: relative;
                top: 21px;
                left: 19px;
            }
        }
    }
}

iframe {
    border: 0px;
}
