.slide-pages{
  .top-slide-forum{
    background: url("images/bg-forum.png");
    background-size: cover;
    a{
      font-size: 13.87px;
    }
  }

}
.content-forum-metiers{
  float: left;
  width: 100%;
  background: url("images/bg-forum-content.png");
  background-size: cover;
}
.trouver-chemin{
  float: left;
  width: 100%;
  padding-top: 101px;
  padding-bottom: 26px;
  .content-trouver-chemin{
    max-width: 882px;
    margin: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .img-forum{
    width: 148px;
    float: left;
    padding-top: 7px;
    padding-left: 5px;
  }
  .forum-text{
    width: 646px;
    float: left;
    padding-left: 94px;
    h3{
      font-size: 30.34px;
      color: $primay-blue;
      padding-bottom: 19px;
      letter-spacing: 1px;
    }
    p{
      font-size: 14px;
      color: #282828;
      padding-bottom: 5px;
    }
    span{
      color: $primay-orange;
      font-size: 14px;
    }
  }
}
.talents-trajectoires{
  float: left;
  width: 100%;
  padding-bottom: 65px;
  .content-talents-trajectoires{
    max-width: 976px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-talents-trajectoires{
    width: 457px;
    padding-top: 136px;
    padding-left: 4px;
    float: left;
  }
  h3{
    font-size: 30.34px;
    color: $primay-blue;
    padding-bottom: 16px;
    letter-spacing: 1px;
  }
  p{
    font-size: 14px;
    color: #282828;
    padding-left: 27px;
    text-indent: -13px;
    &:before{
      content:  "\f111";
      font-family: FontAwesome;
      color: $primay-orange;
      font-size: 10px;
      margin-right: 8px;
    }
  }
  span{
    color: $primay-orange;
    font-size: 14px;
    padding-bottom: 22px;
    display: inline-block;
  }
  .img-poste{
    width: 455px;
    float: left; 
    position: relative;
    right: -81px;
    top: -5px;
    img{
      max-width: 100%;
    }
  }
}
.bottom-forum{
  float: left;
  width: 100%;
  .content-bottom-forum{
    max-width: 880px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    font-style: italic;
    font-size: 20.11px;
    color: #212121;
    span{
      color: $primay-orange;
      font-weight: 600;
      font-style: italic;
    }
  }
  .premier-text{
    padding: 0 90px;
    line-height: 25px;
  }
  .forum-carousel{
    margin-bottom: 68px;
    margin-top: 63px;

  .bx-wrapper{
    position: relative;
    margin: 0 auto;
  }

  .bx-controls{
    margin-top: -27px;
    position: absolute;
    top: 50%; left: 0; right: 0;

    .bx-prev,
    .bx-next{
      font-size: 0px;
      background: url(images/icon-navigation.png)transparent no-repeat !important ;
      height: 53px;
      display: block;
      width: 29px;
      position: absolute;
      top: 0;
    } 

    .bx-next{
      background: url(images/icon-navigation.png)transparent no-repeat !important ;
      right: -61px;
    }    

    .bx-prev{ 
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      left: -61px;
    }    
  }

    img{
      width: auto;
    }
  }
  .owl-buttons{
    div{
      background: url(images/icon-navigation.png)transparent no-repeat !important ;
      opacity: 1 !important;
      color: transparent !important;
      height: 50px;
    }
  }
  .owl-prev{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    position: absolute;
    left: -40px;
    top: 38px;
  }
  .owl-next{
    position: absolute;
    top: 38px;
    right: -42px;
  }
}

