.slide-pages {
    .top-slide-fun {
        background: url(images/bg-fun.png); 
        background-size: cover; 
    }
}
.box-fun{
    clear: both;
    margin: 0 auto 72px;
    padding-top: 103px;
    width: 1008px;

	h2{
		color: #191919;
		font-size: 53.66px;
		margin-bottom: 45px;
		text-align: center;

		strong{
			font-weight: 800;
		}
		
		em{
			font-weight: 300;
		}

		span{
			color: #ffd81b;
		}
	}

	p{
		color: #000000;
		font-size: 20px;
		text-align: center;
		margin-bottom: 16px;
	    line-height: 25px;
		letter-spacing: -.2px;

		+ p {
			margin-bottom: 60px;
			padding-left: 70px;
			padding-right: 82px;
			line-height: 24px;
		}
	}

	.push-video{
		background: #272727;
		height: 252px;
		position: relative;
		overflow: hidden;
		margin: 0 auto 57px;
		width: 450px;

		.play{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -37.5px 0 0 -37.5px;
			opacity: 0.2;
			&:hover{
				opacity: 1;
			    -webkit-transition: all 1s ease-out;
			    -moz-transition: all 1s ease-out;
			    -o-transition: all 1s ease-out;
			    transition: all 1s ease-out;
			}
		}
	}
	#accordion{
		margin-left: -6px;
	}
	.panel-collapse{
		padding-left: 11px;
	}

	.panel-default > .panel-heading{
		border: none;
		margin-bottom: 31px;
		position: relative;

		&:before{
			content: "";
			background: #ffca13;
		    border-radius: 50%;
		    content: "";
		    display: inline-block;
		    height: 17px;
		    left: -12px;
		    position: absolute;
		    top: 14px;
		    width: 17px;
		}
		h4{
			font-size: 24px;
			margin-left: -3px;
			&:hover{
				color: #ffca13;
				-webkit-transition: all 0.5s ease-out;
				-moz-transition: all 0.5s ease-out;
				-o-transition: all 0.5s ease-out;
				transition: all 0.5s ease-out;
			}
		}
	}
	.panel-default{
		&:nth-child(2){
			h4{
				padding-top: 2px;
			}
		}
	}

	.list-events{
		width: 1006px;
		margin-bottom: 0px;
		li{
			width: 235px;
			/* height: 166px; */
			display: inline-block;
			margin: 0  18px 9px 0;
			&:nth-child(4n){
				margin-right: 0px;
			}
		}

		.figure{
			margin-bottom: 11px;
			height: 166px;
			overflow: hidden;
			width: 235px;

			img{
				max-width: 100%;
			}
		}

		h5{
			color: #191919;
			font-size: 14px;
			text-align: center;
		} 

		.push-video{
			overflow: hidden;
			height: 180px;
			width: 300px;
			margin-bottom: 17px;

			.play{
				margin: -25px 0 0 -25px;
			}
		}

		&.videos{
			margin-bottom: 1px;
			padding-left: 24px;

			li{ 
				width: 300px;
				margin: 0 28px 28px 0;

				&:nth-child(3n){
					margin-right: 0;
				}
				&:nth-child(4n){
					margin-right: 28px;
				}
			}
		}
	}

	.list-promos{
		padding-left: 24px;
		margin-bottom: 50px;
		text-align: center;
		li{
			/* height: 166px; */
			display: inline-block;
			margin: 2px 22px 22px 0;
			width: 235px;

			img{
				max-width: 100%;
			}
		}
	}

	.wb-btn{
		background: #ffca13;
		font-size: 21px;
		height: 58px;
		line-height: 57px;
		padding: 0 36px;
		&:hover{ 
			background: #efba00 !important; 
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			-o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
		}
	}
}

@media (max-width: 1010px) {
	.box-fun{
		padding-top: 40px;
		width: 95%;

		.push-video{
			height: 180px;
			width: 300px;
		}

		.list-events {
			text-align: center;
			li{
				margin: 0 10px 20px 0 !important;
			}
		}
	}
}
@media (max-width: 480px) {
	.box-fun{
		width: 92%;
	}
}