.wrapper {
    position: relative;
    #map {
        .gm-svpc {
            display: none;
            > div {}
        }
    }


  .logo-bottom{
    position: absolute;
    right: 98px;
    bottom: 34px;
  }

    .adresses-webhelp {
      .ville {
        width: 413px;
        min-height: 612px;
        height: auto;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15405f+0,174464+23,174464+45,15405e+71,143752+100 */
        background: rgb(21, 64, 95); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(21, 64, 95, 1) 0%, rgba(23, 68, 100, 1) 23%, rgba(23, 68, 100, 1) 45%, rgba(21, 64, 94, 1) 71%, rgba(20, 55, 82, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(21, 64, 95, 1) 0%, rgba(23, 68, 100, 1) 23%, rgba(23, 68, 100, 1) 45%, rgba(21, 64, 94, 1) 71%, rgba(20, 55, 82, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(21, 64, 95, 1) 0%, rgba(23, 68, 100, 1) 23%, rgba(23, 68, 100, 1) 45%, rgba(21, 64, 94, 1) 71%, rgba(20, 55, 82, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#15405f', endColorstr='#143752', GradientType=0); /* IE6-9 */
        position: absolute;
        top: 0;
        left: 71px;
        display: none;
        border-bottom: 8px solid $primay-orange;
        .logo-bottom {
          position: absolute;
          right: 98px;
          bottom: 34px;
        }
        h3 {
          font-size: 40.96px;

          text-transform: capitalize;
          color: #fff;
          padding-bottom: 98px;
          text-align: center;
          &:before {
            content: '';
            background: url(images/map-marker.png) no-repeat;
            display: inline-block;
            vertical-align: bottom;   
            width: 37px;
            height: 53px;
            margin-right: 13px;
          }
        }
        p {
          color: #fff;
          font-size: 16.44px;
          padding-bottom: 20px;
          padding-left: 23px;
          position: relative;
                
          .mac &{
            font-weight: 300;
          }

          &:before {
            content: '';
            background: url(images/icon-marker-ville.png) no-repeat;
            display: inline-block;
            width: 12px;
            height: 18px;
            margin-right: 13px;
            left: 0;
            position: absolute;
            top: 3px;
          }
        }
        h6 {
            color: #23cdf3;
            font-size: 16.44px;
            padding-left: 22px;

            + p{
              padding-top: 6px;
              &:before {
                top: -18px;
              }
            }
        }
        #rabat {
          h6 {
            &:before {
              content: '';
              background: url(images/icon-marker-ville.png) no-repeat;
              display: inline-block;
              width: 12px;
              height: 18px;
              margin-right: 13px;
            }
          }
          p {
            padding-left: 25px;
            &:before {
              content: none;
            }
          }
        }
        i.close-ville{
          display: none;
          position: absolute;
          cursor: pointer;
          color: $primay-orange;
          font-size: 17px;
          right: 15px;
          top: 12px;
        }
        .content-ville{
          clear: both;
          padding: 55px 60px 0 60px;
        }
      }
    }
}