
.box-metier{
	margin: 0 auto;
	padding-top: 56px;
	width: 956px;

	h2{
		color: #fff;
		font-size: 73px;
        margin-bottom: 15px;
	}

	p{
		color: #fff;
		font-size: 20px;
        line-height: 28px;
		letter-spacing: -.6px;
	}

	.header{
		text-align: center;
		margin-bottom: 100px;
	}

	.pushs{
		.push{
			background: #272727;
			height: 169px; 
			width: 280px;
			display: inline-block;
			vertical-align: top;
			position: relative;

			margin: 0 51px 45px 0;

			&:nth-child(3n){
				margin-right: 0px;
			}

			.play{
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -46px 0 0 -25px;
				opacity: 0.2;
				&:hover{
					opacity: 1;
				    -webkit-transition: all 1s ease-out;
				    -moz-transition: all 1s ease-out;
				    -o-transition: all 1s ease-out;
				    transition: all 1s ease-out;
				}
			}

			.info{
				position: absolute;
				bottom: 0; left:0; right: 0;
				padding: 10px 5px 0;

				background: rgba(0,0,0,0.4);

				h2{
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 2px;
				}

				p{
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
	}

	.slider-videos{
		position: relative;
		padding-left: 3px;
		.list-videos{
			-webkit-transform: none !important;
			transform: none !important;
		}
	}

	.bx-controls{
		position: absolute;
		top: 50%;
		left: 0; right: 0;
		margin-top: -66px;

		.bx-prev,
		.bx-next{
			font-size: 0px;
		    display: block;
		    height: 90px;
		    position: absolute;
		    width: 50px;
		}

		.bx-prev{
			left: -312px;
			background: url("../images/prev-slider-metier.png") 0 0 no-repeat;
		}

		.bx-next{
			right: -318px;
			background: url("../images/next-slider-metier.png") 0 0 no-repeat;
		}		
	}
}

@media (max-width: 1650px) {
	.box-metier{
		.bx-controls .bx-prev {
			left:-50px;
		}
		.bx-controls .bx-next{
			right:-50px;
		}

		.pushs {
			text-align: center;
			.push{
				margin: 0 0 5px;
			}
		}
	}
}

@media (max-width: 992px) {
	.box-metier{
		width: 95%;	
	}

}