.slide-pages {
    .top-slide-newsletter {
        background: url(images/bg-newsletters.png);
        background-size: cover; 
    }
}
.box-newsletter{
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 159px;
    width: 824px;
	.grow.pic img{
		width: 258px;
		height: 285px;
	}
	.grow.pic{
		width: 258px;
	}
	ul{
		margin-bottom: 13px;
		overflow: hidden;
		text-align: center;

		li{
			display: inline-block;
			width: 258px;
			margin: 0 21px 79px 0;

			&:nth-child(3n){
				margin-right: 0px;
			}

			.push{
				text-align: center;
				h2,
				.news-date{
					color: #191919;
					font-size: 22px;
				}

				h2{
					margin-bottom: 3px;

					span{
						color: #ff6319;
					}
				}

				.news-date{
					font-weight: 300;
					display: block;
					line-height: 1;
					margin-bottom: 17px;
				}

				.figure{
					background: #191919;
					height: 258px;
					overflow: hidden;
					width: 258px;
				}
			}
		}
	}

	.buttons{
		margin-bottom: 83px;
		margin-left: 7px;
	}
}

.wb-btn{
	background: #ff6319;
	height: 44px;
	line-height: 44px;

	color: #fff;
	font-size: 16.16px;
	display: inline-block;
	text-align:center;
	min-width: 178px;

	&:hover,
	&:focus,
	&:active{
		color: #fff;
		background: #e05310 !important;
		-webkit-transition: background-color 2s ease-out;
		-moz-transition: background-color 2s ease-out;
		-o-transition: background-color 2s ease-out;
		transition: background-color 2s ease-out;

	}
}

.buttons{
	text-align:center;
}

@media (max-width: 900px) {
	.box-newsletter{
		padding-top: 40px;
		width: 100%;

		ul {
			li{
				margin: 0 10px 40px 10px !important;
			}
		}
	}
}