.details-offre {
    float: left;
    width: 100%;
    padding-top: 119px;
    /*115px*/
    padding-bottom: 88px;
    /*88px*/
    .content-details-offres {
        padding-left: 66px;
        max-width: 1140px;
        padding-right: 61px;
        margin: auto;
    }
    h2 {
        font-weight: 600;
        color: #171616;
        font-size: 50px;
        letter-spacing: 1px;
        width: 795px;
        line-height: 63px;
    }
    .top-details-offres {
        padding-top: 71px;
        /*69px*/
        padding-bottom: 62px;
        /*63px*/
        p {
            font-size: 22px;
            color: #171616;
            line-height: 33px;
            letter-spacing: .4px;
        }
        span {
            color: #0069a3;
        }
        .link-postuler {
            float: right;
            position: relative;
            bottom: 67px;
            right: 7px;
            
            a {
                background: $primay-orange;
                color: #fff;
                font-size: 16.16px;
                padding: 10px 58px;
                
                &:hover {
                    background: #e05310 !important;
                    -webkit-transition: background-color 2s ease-out;
                    -moz-transition: background-color 2s ease-out;
                    -o-transition: background-color 2s ease-out;
                    transition: background-color 2s ease-out;
                }
            }
        }
    }
    .text-mission {
        padding-top: 34px;
        font-size: 22px;
        color: #282828;
        letter-spacing: .4px;
    }
    .mission-offres1 {
        padding-top: 39px;
        /*39px*/
    }
    .mission-offres2 {
        padding-top: 36px;
        /*36px*/
    }
    .mission-offres {
        h5 {
            font-size: 22px;
            color: $primay-orange;
            letter-spacing: .4px;
            padding-bottom: 38px;
            /*38px*/
        }
        p {
            font-size: 22px;
            color: #282828;
            letter-spacing: .4px;
            line-height: 33px;
        }
    }
    .link-voir-plus {
        text-align: center;
        padding-top: 64px;
        a {
            background: #ff6319;
            color: #fff;
            font-size: 16.16px;
            padding: 10px 56px;
            &:hover {
                background: #ea5812;
                -webkit-transition: background-color 2s ease-out;
                -moz-transition: background-color 2s ease-out;
                -o-transition: background-color 2s ease-out;
                transition: background-color 2s ease-out;
            }
        }
    }
}
