.webhelp-maroc {
    padding-top: 124px;
    /*123px*/
    background: url(images/bg-webhelp-maroc.png);
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 100%;
    .webhelp-maroc-content {
        max-width: 966px;
        margin: auto;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;

        h1 {
            color: #fff;
            font-size: 76.45px;
            padding-bottom: 45px;
        }
        .leader-text {
            font-weight: 300;
            font-size: 17.12px;
            color: #fff;
            letter-spacing: .34px;
        }
    }
    .temoignage-maroc {
        width: 93%;
        margin: auto;
        .temoignage-item {
            width: 20%;
            float: left;
            padding-top: 38px;
            position: relative;
            &:nth-child(2){
                left: 37px;
            }
            &:nth-child(3){
                left: 26px;
            }
            &:nth-child(4){
                left: 11px;
            }
            &:nth-child(5){
                left: 19px;
            }
        }

        .text-temoignage {
            text-align: center;
        }
        .counter {
            font-weight: 300;
            color: #fff;
            font-size: 36px;
        }
        .plus {
            font-family: $os_light;
            color: #fff;
            font-size: 36px;
        }
        .criteres-temoignage {
            margin-top: -5px;
            color: #fff;
            display: block;
            text-transform: uppercase;
        }
        .img-temoignage {
            height: 36px;
            margin-bottom: 6px;
            position: relative;
            img {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    .temoignage-pourcentage {
        float: left;
        padding-top: 23px;
        padding-bottom: 37px;
        width: 100%;
        .progress {
            height: 9px;
            width: 147px;
            margin: auto;
            border-radius: 0;
            background: #275475;
            position: relative;
            left: -14px;
            top: 2px;
        }
        .male {
            margin-bottom: -1px;
        }
        .progress-bar {
            background: #24d3fa;
        }
        .content-progress {
            width: 297px;
            margin: auto;
            .badge {
                background: transparent;
                position: relative;
                top: 19px;
                left: 0;
            }
        }
        .progress-value {
            float: right;
            color: #fff;
            font-weight: 300;
            font-size: 27.61px;
            margin-top: -22px;
            margin-right: 14px;
        }
    }
    .slider-locaux {
        float: left;
        width: 100%;
        padding-top: 8px;
    } 
    .villes-items {
        width: 719px;
        margin: auto;
    }
    .webhelp-maroc-carousel {
        margin-bottom: 56px;
        margin-top: -26px;
        li{
            float: left;
        }
          .bx-wrapper{
            position: relative;
            margin: 0 auto;
          }

          .bx-controls{
            margin-top: -27px;
            position: absolute;
            top: 50%; left: 0; right: 0;

            .bx-prev,
            .bx-next{
              font-size: 0px;
              background: url(images/icon-navigation.png)transparent no-repeat !important ;
              height: 53px;
              display: block;
              width: 29px;
              position: absolute;
              top: 0;
            } 

            .bx-next{
              background: url(images/icon-navigation.png)transparent no-repeat !important ;
              right: -61px;
            }    

            .bx-prev{ 
              -ms-transform: rotate(180deg); /* IE 9 */
              -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
              transform: rotate(180deg);
              left: -66px;
            }    
          }
    }
    .webhelp-ville {
        clear: both;
        .ville-nom { 
            width: 20%;
            float: left;
            position: relative;
            &:nth-child(3){
                left: 11px;
            }
            &:nth-child(4){
                left: 8px;;
            }
            p {
                font-weight: 300;
                color: #fff;
                font-size: 20.37px;
                text-transform: capitalize;
                text-align: center;
                &:before {
                    content: '';
                    display: inline-block;
                    background: url(images/icon-ville.png);
                    width: 24px;
                    height: 34px;
                    margin-right: 5px;
                }
            }
        }
        p {
            font-weight: 300;
            font-size: 17.12px;
            color: #fff;
            letter-spacing: .34px;
            padding-bottom: 39px;
            clear: both;
        }
        .owl-buttons {
            div {
                background: url(images/icon-navigation.png) transparent no-repeat !important;
                opacity: 1 !important;
                color: transparent !important;
                height: 50px;
            }
        }
        .owl-prev {
            -ms-transform: rotate(180deg);
            /* IE 9 */
            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg);
            position: absolute;
            left: -40px;
            top: 38px;
        }
        .owl-next {
            position: absolute;
            top: 38px;
            right: -42px;
        }
    }
}
